﻿@model TransporterModel.ViewUserInfo

<section class="section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="row">
            <div class="col-md-11 innerHeader">
                <!--<h4>Dashboard</h4>-->
                <div class="codepen-wrapper cpd-wrapper">
                    <span class="create-post-details">
                        <i class="fa fa-ban leftsrew"></i>View user details
                        <i class="fa fa-ban rightsrew"></i>
                    </span>
                </div>
                <hr>
                <div class="card searchCard">
                    @if (Model.Uservalidity.ToUpper() == "VALID")
                    {
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">User validity:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtUserValidity", Model.Uservalidity, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">User Name:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtUserName", Model.UserName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">Mobile Number:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtMobile", Model.MobileNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">Phone Number:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtPhone", Model.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">EmailID:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtEmail", Model.EmailID, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">Address 1:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtAddress1", Model.Address1, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">Address 2:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtAddress2", Model.Address2, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">Country:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtCountry", Model.CountryName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">State:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtState", Model.StateName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">City/ District:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtCity", Model.CityName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-6 col-form-label pull-left">Town:</label>
                                    <div class="input-group col-md-6 cpd-group">
                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                        @Html.TextBox("txtState", Model.TownName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-md-4 col-form-label pull-left">User validity:</label>
                                    <div class="input-group col-md-8 cpd-group">
                                        <span class="PageLabel" id="lblPostingID">
                                            @Html.DisplayFor(m => m.Uservalidity, new { @class = "form-control", @id = "lblUserValidity" })
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <div class="input-group col-md-6 cpd-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
