﻿@model TransporterModel.PostingPage
<script>
    var pageCreateMode = "@ViewBag.CreateMode";
    if (pageCreateMode === "False") {
        pageCreateMode = false;
    }
    $(document).ready(function () {

        var demo1 = SetAutoComplete("#txtPostingSourceCity", "#hdnPostingSourceCity");

        var demo2 = SetAutoComplete("#txtPostingDestinationCity", "#hdnPostingDestinationCity");

        var demo3 = SetAutoComplete("#txtPostingViaCity", "#hdnPostingViaCity");
    });
</script>

@using (Html.BeginForm("CreatePosting", "Posting", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Posting ID:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="PageLabel" id="lblPostingID">
                        @Html.DisplayFor(m => m.PostingDetails.PostingID, new { @class = "form-control", @id = "lblPostingID" })
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8 cpd-group">
                &nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">User Name:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="TransporterReadonlyValue" id="LoggedInUser">@ViewBag.UserName</span>
                    @Html.HiddenFor(m => m.PostingDetails.UserID, new { @id = "hdnUserID" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Updated On:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="TransporterReadonlyValue" id="lblUpdateOn">
                        @Html.DisplayFor(m => m.PostingDetails.UpdatedOn, new { @class = "form-control", @id = "lblUpdateOn" })
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Source City:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingSourceCity", Model.PostingDetails.SourceCityName, new { @class = "form-control textCaps", @placeholder = "Enter Source City" })
                    @Html.HiddenFor(m => m.PostingDetails.SourceCityID, new { @id = "hdnPostingSourceCity" })
                    }
                    else
                    {
                        @Html.TextBox("txtPostingSourceCity", Model.PostingDetails.SourceCityName, new { @class = "form-control textCaps", disabled = "disabled",@placeholder = "Enter Source City" })
                        @Html.HiddenFor(m => m.PostingDetails.SourceCityID, new { @id = "hdnPostingSourceCity" })
                    }
                    <input type="hidden" id="hdnSourceCity" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Destination City:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingDestinationCity", Model.PostingDetails.DestinationCityName, new { @class = "form-control textCaps", @placeholder = "Enter Destination City" })
                    @Html.HiddenFor(m => m.PostingDetails.DestinationCityID, new { @id = "hdnPostingDestinationCity" })
                    }
                    else
                    {
                        @Html.TextBox("txtPostingDestinationCity", Model.PostingDetails.DestinationCityName, new { @class = "form-control textCaps", disabled = "disabled", @placeholder = "Enter Destination City" })
                        @Html.HiddenFor(m => m.PostingDetails.DestinationCityID, new { @id = "hdnPostingDestinationCity" })
                    }                                                
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Start Date:</label>
                <div class="input-group col-md-8 cpd-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingStartDate", Model.PostingDetails.StartDate, new { @class = "form-control", @placeholder = "DD/MM/YYYY" })
                    }
                    else
                    {
                        @Html.TextBox("txtPostingStartDate", Model.PostingDetails.StartDate, new { @class = "form-control", disabled = "disabled", @placeholder = "DD/MM/YYYY" })
                    }
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Planned Delivery Date:</label>
                <div class="input-group col-md-8 cpd-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingDeliveryDate", Model.PostingDetails.DeliveryDate, new { @class = "form-control", @placeholder = "DD/MM/YYYY" })
                    }
                    else
                    {
                        @Html.TextBox("txtPostingDeliveryDate", Model.PostingDetails.DeliveryDate, new { @class = "form-control", disabled = "disabled", @placeholder = "DD/MM/YYYY" })
                    }
                                                
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Truck type:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                        @Html.DropDownListFor(m => m.TruckType, new SelectList(Model.TruckType, "TruckTypeID", "TruckTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlPostingTruckType" });
                    }
                    else {
                        @Html.DropDownList("ddlPostingTruckType", null, new { @class = "form-control", disabled = "disabled" });
                    }
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Truck Number:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingTruckNumber", Model.PostingDetails.TruckNumber, new { @class = "form-control textCaps", @placeholder = "Enter truck number", @maxlength = 11 })
                    }
                    else
                    {
                        @Html.TextBox("txtPostingTruckNumber", Model.PostingDetails.TruckNumber, new { @class = "form-control textCaps", disabled = "disabled", @placeholder = "Enter truck number", @maxlength = 11 })
                    }                                                
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Total capacity:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.DropDownListFor(m => m.GoodsWeight, new SelectList(Model.GoodsWeight, "GoodsWeightID", "GoodsWeightName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlPostingGoodsWeight" });
                    }
                    else
                    {
                        //@Html.DropDownListFor(m => m.GoodsWeight, new SelectList(Model.GoodsWeight, "GoodsWeightID", "GoodsWeightName", Model.PostingDetails.GoodsWeightID), new { @class = "dropdown", id = "ddlGoodsWeight" });
                    @Html.DropDownList("ddlPostingGoodsWeight", null, new { @class = "form-control", disabled = "disabled" });
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Available Capacity:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                    @if (ViewBag.CreateMode)
                    {
                    @Html.TextBox("txtPostingTruckAvailableCapacity", Model.PostingDetails.AvailableTonnage, new { @class = "form-control", @placeholder = "in KGs", @type = "number", @Value = "", @maxlength = 8 });
                    }
                    else
                    {
                        @Html.TextBox("txtPostingTruckAvailableCapacity", Model.PostingDetails.AvailableTonnage, new { @class = "form-control", disabled = "disabled" })
                    }                                                
                </div>
            </div>
        </div>
    </div>

    if ((((TransporterModel.User)Session["User"]).IsPaidUser == true) || (ViewBag.IsPostingOwner))
    {
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label text-right">Mobile Number:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                        @if (ViewBag.CreateMode)
                        {
                            @Html.TextBox("txtPostingMobileNumber", Model.PostingDetails.MobileNumber, new { @class = "form-control", @type = "number", @placeholder = "Enter mobile number", @maxlength = 10, oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" });
                        }
                        else
                        {
                            @Html.TextBox("txtPostingMobileNumber", Model.PostingDetails.MobileNumber, new { @class = "form-control", disabled = "disabled" })
                        }                                                    
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Office Phone Number:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
                        @if (ViewBag.CreateMode)
                        {
                        @Html.TextBox("txtPostingPhoneNumber", Model.PostingDetails.OfficePhone, new { @class = "form-control", @type = "number", @placeholder = "Enter phone number", @maxlength = 13, oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" });
                        }
                        else
                        {
                            @Html.TextBox("txtPostingPhoneNumber", Model.PostingDetails.OfficePhone, new { @class = "form-control", disabled = "disabled" })
                        }                                                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label text-right">Email:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @if (ViewBag.CreateMode)
                        {
                        @Html.TextBox("txtPostingEmail", Model.PostingDetails.Email, new { @class = "form-control", @placeholder = "Enter email", @maxlength = 50 })
                        }
                        else
                        {
                            @Html.TextBox("txtPostingEmail", Model.PostingDetails.Email, new { @class = "form-control", disabled = "disabled", @placeholder = "Enter email", @maxlength = 50 })
                        }
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Insurance available:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                        @if (ViewBag.CreateMode)
                        {
                            @Html.DropDownListFor(m => m.IsCargoInsured, new SelectList(Model.IsCargoInsured, "Id", "DisplayName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlPostingIsCargoInsured" });
                        }
                        else
                        {
                            //@Html.DropDownListFor(m => m.IsCargoInsured, new SelectList(Model.IsCargoInsured, "Id", "DisplayName", Model.PostingDetails.IsCargoInsured), new { @class = "dropdown", id = "ddlIsCargoInsured" })
                            @Html.DropDownList("ddlPostingIsCargoInsured", null, new { @class = "form-control", disabled = "disabled" });
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label text-right">Posting Status:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="TransporterReadonlyValue" id="lblPostingStatus">
                        @if (ViewBag.CreateMode)
                        {
                            @Html.DisplayFor(m => m.PostingDetails.PostingStatusName, new { @class = "form-control", @id = "lblPostingStatus" })
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.PostingDetails.PostingStatusName, new { @class = "form-control", disabled = "disabled", @id = "lblPostingStatus" })
                        }                                                        
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Driver name:</label>
                    <div class="input-group col-md-8 cpd-group">
                        <span class="TransporterReadonlyValue" id="lblDriverName">
                        @if (ViewBag.CreateMode)
                        {
                            @Html.DisplayFor(m => m.PostingDetails.DriverName, new { @class = "form-control", @id = "lblDriverName" })
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.PostingDetails.DriverName, new { @class = "form-control", disabled = "disabled",@id = "lblDriverName" })
                        }                                                        
                        </span>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_ViaCities", Model)
    }
}


