﻿@model TransporterModel.TripSheet

<script src="~/Scripts/Sortable.min.js"></script>
<script>
    $(document).ready(function () {
        Sortable.create(
              $('#tblBody')[0],
              {
                  animation: 150,
                  scroll: true,
                  handle: '.drag-handler',
                  onEnd: function () {
                      //console.log('error in sorting table data');
                  }
              }
          );

        'use strict';
        //var myData1 = [{ "BookingID": 13, "LRNumber": null, "AgentName": "Thanigai velu", "StartCityName": "Madurai", "DestinationCityName": "Coimbatore", "BookingSortOrder": 0 }]
        var myData = @Html.Raw(Json.Encode(Model.TripBookingData));
        var postingStatus = @Model.PostingStatus;

        for( var i = 0; i < myData.length; i++ ) {
            var AgentName = CheckStringNull(myData[i].AgentName);

            var BookingID = CheckStringNull(myData[i].BookingID);

            if(postingStatus != null){
                if(postingStatus == "400" || postingStatus == "500"){
                    var markup = "<tr class='drag-handler'><td data-label='BookingID' id='BookingID' data-cell='" + BookingID+"'>" + BookingID + "</td><td data-label='AgentName'>" + AgentName + "</td><td data-label='StartCity' id='StartCityID' data-cell='" + myData[i].StartCityID+"'>" + myData[i].StartCityName + "</td><td id='DestinationCityID' data-label='DestinationCity' data-cell='" + myData[i].DestinationCityID+"'>" + myData[i].DestinationCityName + "</td><td data-label='LRNumber'>" + CheckNullInString(myData[i].LRNumber) + "</td><td data-label='SortOrder'>" + myData[i].BookingSortOrder + "</td></tr>";
                }
                if(postingStatus == "600" || postingStatus == "700"){
                    var AgentNumber = CheckStringNull(myData[i].AgentNumber);
                    var PickupTime = CheckStringNull(myData[i].PickupTime);
                    var DropTime = CheckStringNull(myData[i].DropTime);
                    var WhereTruck = CheckStringNull(myData[i].WhereTruck);

                    var markup = "<tr class='drag-handler'><td id='BookingID' data-label='BookingID'  data-cell='" + BookingID+"'>" + BookingID + "</td><td data-label='AgentName'>" + AgentName + "</td><td id='StartCityID' data-label='StartCity' data-cell='" + myData[i].StartCityID+"'>" + myData[i].StartCityName + "</td><td data-label='DestinationCity' id='DestinationCityID' data-cell='" + myData[i].DestinationCityID+"'>" + myData[i].DestinationCityName + "</td><td data-label='LRNumber'>" + CheckNullInString(myData[i].LRNumber) + "</td><td data-label='SortOrder'>" + myData[i].BookingSortOrder + "</td><td data-label='AgentNumber'>" + AgentNumber + "</td><td data-label='PickupTime'>" + PickupTime+ "</td><td data-label='DropTime'>" + DropTime + "</td><td data-label='TruckLocation'>" + WhereTruck + "</td></tr>";
                }
            }
            //console.log(markup);
            $("#tripTable tbody").append(markup);
        }

    });

    function CreateTripData(){
        var finalObject=[];
        var postingId = $('#lblPostingID').text().trim();
        var driverId = $('#ddlPostingDriverName').val();
        var truckNum = $('#txtPostingTruckNumber').val();

        if(!driverId){
            modalPopup.SetText("Invalid data","","Please check if you have assigned a valid driver to this trip",null);
            return;
        }
        if(truckNum == ""){
            modalPopup.SetText("Invalid data","","Please check if you have assigned a valid truck to this trip",null);
            return;
        }
        
        var i=0;
        $('#tripTable tr').each(function() {
            var cellText = $(this).find("#BookingID").html();            
            //alert($(this).find("#BookingID").html());
            if(cellText != undefined){
                var startID = $(this).find("#StartCityID").attr("data-cell");
                var destID = $(this).find("#DestinationCityID").attr("data-cell");
                var updateObject = {StartCityID: startID, DestinationCityID: destID, BookingID: cellText, BookingSortOrder: i+1};
                finalObject.push(updateObject);
                i=i+1;
            }
            
        });

        //alert(finalObject.length);
        //alert(finalObject[0].BookingID);
        //alert(finalObject[1].BookingID);

        //alert(finalObject);
        var myData = JSON.stringify(finalObject);
        //var sendData = { postingID: postingId, sortData: finalObject };
        var sendData = { postingID: postingId, sortData: finalObject, driverID: driverId, truckNumber: truckNum};
        var data2Send = JSON.stringify(sendData);
        $.ajax({
            type: "POST",
            url: '/Posting/CreateTripSheet/',
            data: data2Send,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result);
                var IsSuccess = result.IsSuccess;
                var msg = result.Message;
                var url = result.RedirectURL;
                if (IsSuccess) {
                    modalPopup.SetText('Message', '', msg, url);
                } else {
                    modalPopup.SetText('Failure', '', msg);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
        //location.reload();
    }
</script>

<section class="section fp-section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card margin-top-5">
                            <h5>Trip Details : </h5>
                            <div class="card-block table-border-style">
                                <div id="responsive-tbl">
                                    <table id="tripTable">
                                        <thead>
                                            <tr>
                                                <th data-label="BookingID">BookingID</th>
                                                <th data-label="AgentName">Agent Name</th>
                                                <th data-label="StartCity">Start City</th>
                                                <th data-label="DestinationCity">Destination City</th>
                                                <th data-label="LRNumber">LR Number</th>
                                                <th data-label="SortOrder">SortOrder</th>
                                                @if (Model.PostingStatus.ToString() == "600" || Model.PostingStatus.ToString() == "700")
                                                {
                                                    <th data-label="AgentNumber">AgentNumber</th>
                                                    <th data-label="PickupTime">PickupTime</th>
                                                    <th data-label="DropTime">DropTime</th>
                                                    <th data-label="TruckLocation">Where is the truck?</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
@if (ViewBag.CreateMode)
{
                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12 right-icon-control">
                            <div class="form-group">
                                    <button type="button" class="btn btn-success" onclick="CreateTripData();">Save Trip Data</button>
                            </div>
                        </div>
                    </div>
}
                </div>
            </div>
        </div>
    </div>
</section>