﻿@model TransporterModel.PostingPage

@if (ViewBag.CreateMode)
{

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Via Cities:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-rou"></i><i class="fa fa-road"></i></span>
                    @Html.ListBoxFor(m => m.ViaCities, new SelectList(Model.ViaCities, "CityID", "CityNameWithState"), new { @class = "TransporterList col-md-12", id = "lstViaCities" })
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row fa-align-left">
                <label for="example-text-input" class="col-md-4 col-xs-12 col-form-label cpd-vre">&nbsp;</label>
                <div class="col-md-6 col-xs-8 col-form-label">
                    <input type="text" id="txtPostingViaCity" class="form-control textCaps" placeholder="Enter cities in route" />
                    <input type="hidden" id="hdnPostingViaCity" />
                </div>
                <div class="col-md-2 col-xs-4 col-form-label text-right padding-0">
                    <button type="button" class="btn btn-success pull-left addtrashBtn" onclick="AddCityToList();"><i class="fa fa-plus-circle"></i></button>
                    <button type="button" class="btn btn-danger pull-left margin-left addtrashBtn" onclick="DeleteCityFromList();"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
    
}
else
{
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label text-right">Via Cities:</label>
                <div class="input-group col-md-8 cpd-group">
                    <span class="input-group-addon"><i class="fa fa-road"></i></span>
                    @Html.ListBoxFor(m => m.ViaCities, new SelectList(Model.ViaCities, "CityID", "CityNameWithState"), new { @class = "form-control textCaps", id = "lstViaCities", @placeholder = "Enter cities in route" })
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                &nbsp;
            </div>
        </div>
    </div>
    
        }
