﻿    
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.PostingPage
@using TransporterModel;


<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>

<div>
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
<div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper cpd-wrapper">
                                <span class="create-post-details">
                                    <i class="fa fa-ban leftsrew"></i>Create Truck Posting
                                    <i class="fa fa-ban rightsrew"></i>
                                </span>
                            </div>
                            <hr>
                            <div class="card searchCard">
                                @Html.Partial("_Create", Model)
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="PageLabel" id="lblBookingStatus">
                                                    &nbsp;
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
    @if (ViewBag.CreateMode)
    {        
                                                    <button type="button" class="btn btn-success pull-right" onclick="CreatePostingData();"><i class="fa fa-plus"></i> SAVE</button>
    }
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


    @if (!ViewBag.CreateMode)
    {
        if (!ViewBag.IsPostingOwner)
        {
            //Show Textarea and SendMessage button
            <section class="section fp-section fp-table animateOut animateIn">
                <div class="fp-tableCell">
                    <div class="wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card margin-top-5">
                                        <h5>Express Interest in sending your load for this transporter?</h5>
                                        <div class="card-block table-border-style">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group row">
                                                    <span for="example-text-input" class="form-label text-left" id="ExpressedInterestMessage">@Html.Raw(ViewBag.AssociatedBookingIDMessage)</span>
                                                            @if (ViewBag.AssociatedBookingIDMessage != "You have already expressed interest with below bookingID")
                                                            {

                                                            }else
                                                            {
                                                                <p> </p>
                                                                <div id="responsive-tbl">
                                                                    <table id="MyTable2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-label="Select" style="display:none;">Select?</th>
                                                                                <th data-label="BookingId">BookingID</th>
                                                                                <th data-label="SourceCity">Source City</th>
                                                                                <th data-label="DestinationCity">Destination City</th>
                                                                                <th data-label="TruckTypeName">Truck Type</th>
                                                                                <th data-label="GoodsWeightName">Goods Weight</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (Model.AllExpressInterest != null)
                                                                            {
                                                                                for (int i = 0; i < Model.AllExpressInterest.Count; i++)
                                                                                {
                                                                                    <tr>
                                                                                        <td data-label="BookingId">
                                                                                            <a href="#" onclick="ShowBookingInfo(@Model.AllExpressInterest[i].BookingID);">
                                                                                                @Html.DisplayFor(m => m.AllExpressInterest[i].BookingID, new { @class = "form-control", @id = "lblBookingIDs" })
                                                                                            </a>
                                                                                        </td>
                                                                                        <td data-label="SourceCity">@Html.DisplayFor(m => m.AllExpressInterest[i].SourceCity, new { @class = "form-control" })</td>
                                                                                        <td data-label="DestinationCity">@Html.DisplayFor(m => m.AllExpressInterest[i].DestinationCity, new { @class = "form-control" })</td>
                                                                                        <td data-label="TruckTypeName">@Html.DisplayFor(m => m.AllExpressInterest[i].TruckTypeName, new { @class = "form-control" })</td>
                                                                                        <td data-label="GoodsWeightName">@Html.DisplayFor(m => m.AllExpressInterest[i].GoodsWeightName, new { @class = "form-control" })</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    </div>
                                                                    }

                                                    </div>
                                                </div>
                                                @if ((Model.PostingDetails.PostingStatus.ToString() == "400") || (Model.PostingDetails.PostingStatus.ToString() == "500") || (Model.PostingDetails.PostingStatus.ToString() == "500"))
                                                {
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <button type='button' class='btn btn-success' onclick='window.location.href ="/Tracking/Index?bookingID=" + @ViewBag.linkedBookingId;'><i class='fa fa-search'></i> View Tracking</button>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <button type='button' class='btn btn-success' onclick="ExpressInterest();"><i class='fa fa-exclamation-circle'></i> Express Interest</button>
                                                        </div>
                                                    </div>
                                                }                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            if (Model.PostingDetails.PostingStatus != 50)
            {
                // Show the list of BookingID's that you have expressed interest with this postingID
                <section class="section fp-section fp-table animateOut animateIn">
                    <div class="fp-tableCell">
                        <div class="wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card margin-top-5">
                                            <h5>List of Agents/Bookings to whom you have expressed interest with this postingID:</h5>
                                            <div class="card-block table-border-style">
                                                <div id="responsive-tbl">
                                                    <table id="MyTable1">
                                                        <thead>
                                                            <tr>
                                                                <th data-label="AgentName">AgentName</th>
                                                                <th data-label="BookingID">BookingID</th>
                                                                <th data-label="BookingStartCity">StartCity</th>
                                                                <th data-label="BookingDestinationCity">DestinationCity</th>
                                                                <th data-label="GoodsWeight">GoodsWeight</th>
                                                                <th data-label="GoodsType">GoodsType</th>
                                                                <th data-label="MessageToAgent">Your message to agent</th>
                                                                <th data-label="AgentAccepted">Agent Accepted?</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.AllMessageToAgent != null)
                                                            {
                                                                for (int i = 0; i < Model.AllMessageToAgent.Count; i++)
                                                                {
                                                                    var CurrentAgentID = Model.AllMessageToAgent[i].UserID;
                                                                    var IsAccepted = Model.AllMessageToAgent[i].IsAccepted;
                                                                    <tr>
                                                                        <td data-label="AgentName">
                                                                            <a href="#" onclick="ShowContactInfo(@Model.AllMessageToAgent[i].UserID);">
                                                                                @Html.DisplayFor(m => m.AllMessageToAgent[i].AgentName, new { @class = "form-control", @id = "lblAgentName" })
                                                                            </a>
                                                                        </td>
                                                                        <td data-label="BookingID">
                                                                            <a href="#" onclick="ShowBookingInfo(@Model.AllMessageToAgent[i].BookingID);">
                                                                                @Html.DisplayFor(m => m.AllMessageToAgent[i].BookingID, new { @class = "form-control", @id = "lblBookingID" })
                                                                            </a>
                                                                        </td>
                                                                        <td data-label="BookingStartCity">@Html.DisplayFor(m => m.AllMessageToAgent[i].SourceCity, new { @class = "form-control", @id = "lblSourceCity" })</td>
                                                                        <td data-label="BookingDestinationCity">@Html.DisplayFor(m => m.AllMessageToAgent[i].DestinationCity, new { @class = "form-control", @id = "lblDestinationCity" })</td>

                                                                        <td data-label="GoodsWeight">@Html.DisplayFor(m => m.AllMessageToAgent[i].GoodsWeightName, new { @class = "form-control", @id = "lblGoodsWeight" })</td>
                                                                        <td data-label="GoodsType">@Html.DisplayFor(m => m.AllMessageToAgent[i].GoodsTypeName, new { @class = "form-control", @id = "lblGoodsTypeName" })</td>
                                                                        <td data-label="MessageToAgent">@Html.DisplayFor(m => m.AllMessageToAgent[i].UserMessage, new { @class = "form-control", @id = "lblAgentMessage" }) &nbsp;</td>
                                                                        @if (IsAccepted == 0)
                                                                        {
                                                                            <td data-label="Accept/Ignore"><span class="input-group-addon"><i class="fa fa-stop-circle-o"></i> Not Accepted</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td data-label="Accept/Ignore"><span class="input-group-addon"><i class="fa fa-handshake-o"></i> Accepted</span></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                // Show list of all message from interested agents
                <section class="section fp-section fp-table animateOut animateIn">
                    <div class="fp-tableCell">
                        <div class="wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card margin-top-5">
                                            <h5>List of Agents who have expressed interest in your trip:</h5>
                                            <div class="card-block table-border-style">
                                                <div id="responsive-tbl">
                                                    <table id="MyTable1">
                                                        <thead>
                                                            <tr>
                                                                <th data-label="Select" style="display:none;">Select?</th>
                                                                <th data-label="AgentName">AgentName</th>
                                                                <th data-label="BookingID">BookingID</th>
                                                                <th data-label="PackageWeight">Package Weight</th>
                                                                <th data-label="MessageFromAgent">Message from Agent</th>
                                                                <th data-label="Accept/Ignore">Accept / Ignore?</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.AllPostingMessage != null)
                                                            {
                                                                for (int i = 0; i < Model.AllPostingMessage.Count; i++)
                                                                {
                                                                    var CurrentAgentID = Model.AllPostingMessage[i].UserID;
                                                                    var IsAccepted = Model.AllPostingMessage[i].IsAccepted;
                                                                    <tr>
                                                                        <td data-label="Select" style="display:none;">@Html.CheckBox("chkAgentID", new { value = CurrentAgentID })</td>
                                                                        <td data-label="AgentName">
                                                                            <a href="#" onclick="ShowContactInfo(@Model.AllPostingMessage[i].UserID);">
                                                                                @Html.DisplayFor(m => m.AllPostingMessage[i].AgentName, new { @class = "form-control", @id = "lblAgentName" })
                                                                                @Html.HiddenFor(m => m.AllPostingMessage[i].UserID, new { @id = "hdnAgentID" })
                                                                            </a>
                                                                        </td>
                                                                        <td data-label="BookingID">
                                                                            <a href="#" onclick="ShowBookingInfo(@Model.AllPostingMessage[i].BookingID);">
                                                                                @Html.DisplayFor(m => m.AllPostingMessage[i].BookingID, new { @class = "form-control", @id = "lblBookingID" })
                                                                            </a>
                                                                        </td>
                                                                        <td data-label="PackageWeight">@Html.DisplayFor(m => m.AllPostingMessage[i].PackageWeight, new { @class = "form-control", @id = "lblPackageWeight" })</td>
                                                                        <td data-label="MessageFromAgent">@Html.DisplayFor(m => m.AllPostingMessage[i].AgentMessage, new { @class = "form-control", @id = "lblAgentMessage" }) &nbsp;</td>
                                                                        @if (IsAccepted == 0)
                                                                        {
                                                                            <td data-label="Accept/Ignore"><a href="javascript:AcceptDeal(@Model.AllPostingMessage[i].UserID, @Model.AllPostingMessage[i].BookingID);">@Html.DisplayFor(m => m.AllPostingMessage[i].AcceptorIgnore, new { @class = "form-control", @id = "lblAcceptorIgnore" })</a></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td data-label="Accept/Ignore"><span class="input-group-addon"><i class="fa fa-handshake-o"></i> Accepted</span></td>
                                                                        }

                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            @if (Model.AllPostingMessage != null)
                                            {
                                                if (Model.PostingDetails.PostingStatus == 100)
                                                {
                                                    <button type="button" class="btn btn-warning" onclick="CancelPosting();"><i class="fa fa-close"></i> Cancel Posting</button>
                                                }
                                                if ((Model.PostingDetails.PostingStatus == 300))
                                                {
                                                    <button type="button" class="btn btn-success" onclick="ClosePosting();"><i class="fa fa-close"></i> Close Posting</button>
                                                }
                                                if (Model.PostingDetails.PostingStatus == 400)
                                                {
                                                    <button type="button" class="btn btn-success" onclick="CreateTripSheet();"><i class="fa fa-print"></i> Create Trip Sheet</button>
                                                }
                                                if (Model.PostingDetails.PostingStatus == 500)
                                                {
                                                    <button type="button" class="btn btn-success" onclick="ViewTripSheet();"><i class="fa fa-print"></i> View Trip Sheet</button>
                                                }
                                                if ((Model.PostingDetails.PostingStatus == 700) || (Model.PostingDetails.PostingStatus == 600))
                                                {
                                                    <button type="button" class="btn btn-success" onclick="ViewTripSheet();"><i class="fa fa-print"></i> View Trip Sheet / Track vehicle</button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            }

        }
        <div id="fade" class="black_overlay"></div>
        <div id="light" class="white_content">
            <div align="right"><a href="javascript:void(0)" onclick="closeHTMLPopup();">Close</a></div>

            <div id="popupContent" style="display:none;">
                <div id="ExpressInterestDiv">

                    <section class="section fp-section fp-table animateOut animateIn">
                        <div class="fp-tableCell">
                            <div class="wrap">
                                <div class="container">
                                    <div class="codepen-wrapper cpd-wrapper">
                                        <span class="create-post-details">
                                            Create or Select BookingID
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="col-md-3 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-form-label text-right">List of bookings that you have created:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="input-group row">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                <select id="ddlBookingIds" class="form-control" onchange="BookingIDSelected()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-12">
                                            <div class="form-group row">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group row">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                                                    @*@Html.TextArea("txtMessageToTransporter", (string)ViewBag.MessageToTransporter, new { @class = "form-control", @placeholder = "Enter comments to Agent" })*@
                                                    @Html.TextArea("txtMessageToTransporter", new { @class = "form-control", @placeholder = "Enter comments to Agent" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-12">
                                            <div class="form-group row">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-12">
                                            <div class="form-group row">
                                                <button type="button" class="btn btn-success" onclick="SendMessageToTransporter();"><i class="fa fa-plus"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="BookingDataPopup">&nbsp;</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>

        <div class="form-horizontal">
            <div class="form-group">
            </div>
            <div id="dialog" title="Agent Info" class="ui-jqdialog-content">
                <div class="form-group">
                    <div>
                        <table id="MyTable">
                            <tr>
                                <th>
                                    Mobile Number
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Email ID
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Country Name
                                </th>
                                <th>
                                    State Name
                                </th>
                                <th>
                                    City Name
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>

        $(document).ready(function(){
            $('#MyTable').hide();
        });

        function AddCityToList() {
            var SelectedCityID = $("#hdnPostingViaCity").val();
            var SelectedCityName = $("#txtPostingViaCity").val().trim();
            //alert(SelectedCityID);
            if(SelectedCityID == null || SelectedCityID == ""){
                modalPopup.SetText("Alert", "", "Select a valid district / city from the list", "");
            }else{
            $('<option value="' + SelectedCityID + '">' + SelectedCityName + '</option>').appendTo('#lstViaCities');
            $("#hdnPostingViaCity").val('');
            $("#txtPostingViaCity").val('');
            }            
            $("#txtPostingViaCity").focus();
        }

        function CancelPosting(){
            var postingId = $("#lblPostingID").text().trim()
            var senddata = { postingID: postingId };
            var data2Send = JSON.stringify(senddata);

            $.ajax({
                type: "POST",
                url: '/Posting/CancelPosting/',
                data: data2Send,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var IsSuccess = result.IsSuccess;
                    var msg = result.Message;
                    var url = result.RedirectURL;
                    if (IsSuccess) {
                        modalPopup.SetText('Message', '', msg, url);
                    } else {
                        modalPopup.SetText('Failure', '', msg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }

        function DeleteCityFromList() {
            //alert($("#lstViaCities option:selected").val());
            $("#lstViaCities option:selected").remove();
            $("#txtPostingViaCity").focus();
        }


        function OpenHTMLPopup(inputHTML, divToFill){
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block';
            //$("#popupContent").html(inputHTML);
            //$(divToFill).html(inputHTML);
            $(divToFill).show();
        }

        function closeHTMLPopup(){
            if(document.getElementById('light') != null){
                document.getElementById('light').style.display='none';
            }
            if(document.getElementById('fade') != null){
                document.getElementById('fade').style.display='none';
            }
        }

        function BookingIDSelected(){
            var selectedVal = $("#ddlBookingIds").find(':selected').val();
            var selectedText = $("#ddlBookingIds").find(':selected').text();

        if(selectedText == 'Create new Booking'){
            if(confirm("Shall I redirect you to create booking page?")){
                var urlParam = getUrlParameter('PostingID');
                window.location.href="../Booking/Create?returnURL=/Posting/Edit?" + urlParam;
            }else{
                $("#ddlBookingIds").selectedIndex(-1);
                return false;
            }
        }

            //alert(selectedText);
            selectedText = $("#ddlBookingIds").find(':selected').text();
            //alert(selectedText);
            if(selectedVal != -1){
                $.ajax({
                    data: {bookingId: selectedVal},
                    datatype: "text/plain",
                    type: "GET",
                    url: '../Booking/ViewBookingPopup',
                    cache: false,
                    success: function (data) {
                        $("#BookingDataPopup").html(data);
                        OpenHTMLPopup(data, "#BookingDataPopup");
                        //$("#ExpressInterestDiv").html("");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });
            }
        }

        $(function () {

            closeHTMLPopup();
            $('.input-group.date').datepicker({
                calendarWeeks: true,
                todayHighlight: true,
                autoclose: true,
                startDate: 'today',
                format: 'd-M-yyyy'
            });

        });

        function CreateTripSheet(){
            window.location.href="/Posting/OpenTripSheet?postingID="+$('#lblPostingID').text().trim();
        }

        function ViewTripSheet(){
            window.location.href="/Posting/ViewTripSheet?postingID="+$('#lblPostingID').text().trim();
        }

        function ClosePosting(){
            var postingId = $('#lblPostingID').text().trim();
            $.ajax({
                type: "GET",
                url: '/Posting/ClosePosting',
                data: {postingID: postingId},
                datatype: "text/plain",
                success: function (result) {
                    if (pageCreateMode) {
                        result.RedirectURL = "/Posting/Edit?PostingId=" + postingId;
                    }
                    ProcessAjaxResult(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }

        function AcceptDeal(userID, bookingID) {
            /*var selectedAgentID = $("input[name=chkAgentID]:checked").val();
            if (selectedAgentID == undefined) {
                modalPopup.SetText("Alert", "", "Please select atleast one Agent to accept the deal!!", "");
                return false;
            }*/

            //modalPopup.SetText("Alert", "", "AgentID selected: " + selectedAgentID, "");
            var postingId = $('#lblPostingID').text().trim();
            var senddata = { agentID: userID, bookingID: bookingID, postingID: postingId };
            var data2Send = JSON.stringify(senddata);

            $.ajax({
                type: "POST",
                url: '/Posting/AcceptDeal/',
                data: data2Send,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (pageCreateMode) {
                        result.RedirectURL = "/Posting/Edit?PostingId=" + postingId;
                    }
                    ProcessAjaxResult(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });


        }

        function SendMessageToTransporter() {
            var msgToTransporter = $("#txtMessageToTransporter").val();
            var postingId = $('#lblPostingID').text().trim();
            var bookingId = $('#lblBookingID').text().trim();
            var transporterUserName = $('#LoggedInUser').text().trim();
            msgValidation= $("#txtMessageToTransporter").val().length
            if(msgValidation==0)
            {
                modalPopup.SetText('Failure', '', "Message Texbox should not be emty!!");
                $("#txtMessageToTransporter").focus();
                return;
            }
            if(bookingId==0)
            {
                modalPopup.SetText('Failure', '', "Please choose any BookingID below or Create new Booking !!");
                return;
            }

            var senddata = { messageToTransporter: msgToTransporter, postingID: postingId, bookingID: bookingId, transporterName: transporterUserName};
            var data2Send = JSON.stringify(senddata);
            $.ajax({
                type: "POST",
                url: '/Posting/SendMessage/',
                data: data2Send,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var IsSuccess = result.IsSuccess;
                    var msg = result.Message;
                    var url = result.RedirectURL;
                    if (IsSuccess) {
                        closeHTMLPopup();
                    $("#ExpressedInterestMessage").html("You have already expressed interest with a bookingID: <a href='#' onclick='ShowBookingInfo(" + bookingId.toString() + ")'>" + bookingId.toString() + "</a>");
                        var redirectUrl = "";
                        redirectUrl=url;
                        if (pageCreateMode) {
                            redirectUrl = "/Posting/Edit?PostingId=" + postingId;
                        }
                        modalPopup.SetText('Success', '', msg, redirectUrl);
                    } else {
                        modalPopup.SetText('Failure', '', msg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }

        function CreatePostingData() {
            var postingData = {};

            var viaCities = [];
            $('#lstViaCities option').each(function(){
                //alert($(this).val());
                var viaCity = new Object();
                viaCity.CityID = $(this).val();
                viaCity.CityName = "";
                viaCity.StateID = "";
                viaCity.StateName = "";
                viaCity.CityNameWithState = $(this).text();
                viaCities.push(viaCity);
            });
            //alert(viaCities[0]);
            //return false;

            postingData.PostingID = $('#lblPostingID').text().trim()
            postingData.UserID = $('#hdnUserID').val();
            postingData.SourceCityID = $('#hdnPostingSourceCity').val();
            postingData.SourceCityName = $('#txtPostingSourceCity').val();
            postingData.DestinationCityID = $('#hdnPostingDestinationCity').val();
            postingData.DestinationCityName = $('#txtPostingDestinationCity').val();
            postingData.StartDate = $('#txtPostingStartDate').val();
            postingData.DeliveryDate = $('#txtPostingDeliveryDate').val();
            postingData.GoodsWeightID = $('#ddlPostingGoodsWeight').val();
            postingData.AvailableTonnage = $('#txtPostingTruckAvailableCapacity').val();
            postingData.TruckNumber = $('#txtPostingTruckNumber').val();
            postingData.TruckTypeID = $('#ddlPostingTruckType').val();
            postingData.IsCargoInsured = $('#ddlPostingIsCargoInsured').val();
            postingData.IsSMSSent = 0;
            postingData.IsEmailSent = 0;
            postingData.CreatedBy = "";
            postingData.UpdatedBy = "";
            postingData.CreatedOn = "";
            postingData.UpdatedOn = "";

            postingData.OfficePhone = $('#txtPostingPhoneNumber').val();
            postingData.MobileNumber = $('#txtPostingMobileNumber').val();
            postingData.Email = $('#txtPostingEmail').val();
            postingData.PhotoPath = "";

            //postingData.ViaCities = viaCities;
            //alert(postingData);

            if (postingData.SourceCityName == "")
                modalPopup.SetText('Error', '', "Please Fill SourceCity Name !!");
            else if (postingData.DestinationCityName == "")
                modalPopup.SetText('Error', '', "Please Fill DestinationCity Name !!");
            else if (postingData.StartDate == "")
                modalPopup.SetText('Error', '', "Please Fill Start Date !!");
            else if (postingData.DeliveryDate == "")
                modalPopup.SetText('Error', '', "Please Fill Delivery Date !!");
            else if (postingData.TruckTypeID == "")
                modalPopup.SetText('Error', '', "Please Fill Truck Type !!");
            else if (postingData.TruckNumber == "")
                modalPopup.SetText('Error', '', "Please Fill Truck Number !!");
            else if (postingData.GoodsWeightID == "")
                modalPopup.SetText('Error', '', "Please Fill Total Capacity !!");

            else if (postingData.AvailableTonnage == "")
                modalPopup.SetText('Error', '', "Please Fill Truck Available Capacity !!");


            else if (postingData.MobileNumber == "")
                modalPopup.SetText('Error', '', "Please Fill Mobile Number !!");
            else if (postingData.OfficePhone == "")
                modalPopup.SetText('Error', '', "Please Fill Phone Number !!");

            else if (postingData.IsCargoInsured == "")
                modalPopup.SetText('Error', '', "Please Fill Cargo Insured !!");


            else {

                var sendData = { UIData: postingData, ViaCitiesData: viaCities };
                var data2Send = JSON.stringify(sendData);

                $.ajax({
                    type: "POST",
                    url: "/Posting/CreatePosting?returnURL=" + getUrlParameter("returnURL"),
                    data: data2Send,
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if(result.RedirectURL == ""){
                            result.RedirectURL = "/Posting/Search";
                        }
                        ProcessAjaxResult(result, "lblPostingID");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });
            }
        }

        function SearchPostingData() {
            $.ajax({
                type: "POST",
                url: '/Posting/SearchPostingPage/',
                data: JSON.stringify(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                } else {
                    //alert(data);
                    //$('#LoginErrorMessage').text(data);
                    //$('#LoginErrorMessage').addClass('isa_error');
                    modalPopup.SetText('Login Error', '', data, "");
                }
            }

            function errorFunc(result) {
                LogAjaxError(result, true);
            }
        }

        function BackToHomePage() {
            $.ajax({
                type: "POST",
                url: '/Posting/BackToHomePage/',
                data: JSON.stringify(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                    window.location.href = data.redirectUrl;
                } else {
                    //alert(data);
                    //$('#LoginErrorMessage').text(data);
                    //$('#LoginErrorMessage').addClass('isa_error');
                    modalPopup.SetText('Login Error', '', data);
                }
            }

            function errorFunc(result) {
                LogAjaxError(result, true);
            }
        }


        function ExpressInterest(){
            // 1. Get bookingIds populated in the Dropdown
            var SearchUrl = '../api/Booking/GetUserBookings/' + @ViewBag.LoggedInUserID ;
            //begin source
            $.ajax({
                url: SearchUrl,
                type: 'GET',
                cache: false,
                //data: { userID: 12 },
                dataType: 'json',
                success: function (jsonData) {
                    var userBookings = $('#ddlBookingIds');

                    userBookings.empty();
                    userBookings.append(
                        $('<option/>', {
                            value: -1,
                            text: "Select one option"
                        })
                        );
                    userBookings.append(
                        $('<option/>', {
                            value: 0,
                            text: "Create new Booking"
                        })
                        );
                    
                    $.each(jsonData, function (index, item) {
                        userBookings.append(
                            $('<option/>', {
                                value: item.BookingID,
                                text: item.BookingID
                            })
                        );
                                
                    });

                    // 2. Fill the popup with HTML contents
                    var popupContent = $("#ExpressInterestDiv").html();
                    //modalPopup.SetText('Select or Create bookingID', '', popupContent);
                    OpenHTMLPopup(popupContent, "#popupContent");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });

        }

        function GotoTracking(){
            window.location.href="/Posting/ViewTrackingData?postingID="+$('#lblPostingID').text().trim();
        }
    </script>
