﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@model TransporterModel.TransportSearchPage

@using (Html.BeginForm("Search", "Posting", FormMethod.Post))
{
    
        <section class="section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="container">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-12 innerHeader">
                                <!--<h4>Dashboard</h4>-->
                                <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>Search empty trucks<i class="fa fa-ban rightsrew"></i></span>  </div>
                                <hr>
                                <div class="card searchCard">
                                    <div class="col-md-12">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Source City:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                    @Html.TextBox("txtSourceCity", Model.TransportSearchDetails.SourceCityName, new { @class = "form-control", @placeholder = "Enter City" })
                                                    @Html.HiddenFor(m => m.TransportSearchDetails.SourceCityID, new { @id = "hdnSourceCity" })
                                                    <input type="hidden" id="hdnSourceCity" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Destination City:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-road"></i></span>
                                                    @Html.TextBox("txtDestinationCity", Model.TransportSearchDetails.DestinationCityName, new { @class = "form-control", @placeholder = "Enter City" })
                                                    @Html.HiddenFor(m => m.TransportSearchDetails.SourceCityID, new { @id = "hdnDestinationCity" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Delivery Date:</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtDeliveryDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Goods Weight:</label>
                                                <div class="input-group col-md-8">
                                                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                    @Html.DropDownListFor(m => m.GoodsWeight, new SelectList(Model.GoodsWeight, "GoodsWeightID", "GoodsWeightName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlGoodsWeight" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Truck Type:</label>
                                                <div class="input-group col-md-8">
                                                    <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                    @Html.DropDownListFor(m => m.GoodsType, new SelectList(Model.TruckType, "TruckTypeID", "TruckTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlTruckType" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Available Capacity</label>
                                                <div class="input-group col-md-8">
                                                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                    <input type="text" class="form-control" placeholder="Available Capacity (in Kgs)" id="txtAvailableCapacity">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">Posting Status:</label>
                                                <div class="input-group col-md-8">
                                                    <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                    @Html.DropDownListFor(m => m.PostingStatus, new SelectList(Model.PostingStatus, "StatusID", "StatusName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlPostingStatus" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-4 col-form-label text-right">PostingID:</label>
                                                <div class="input-group col-md-8">
                                                    <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                    <input type="text" class="form-control" placeholder="Enter PostingID" id="txtPostingID">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-md-9 col-form-label text-right">Show Only my postings?</label>
                                                <div class="input-group col-md-2">
                                                    <input type="checkbox" id="chkMyPostings" checked />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-danger" onclick="SearchPost();">Search</button>
                                                <button type="button" class="btn btn-default" onclick="ClearSearch();">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card margin-top-5">
                                    <h5>Posting Details : </h5>
                                    <div class="card-block table-border-style">
                                        <div id="responsive-tbl">
                                            <table id="MyTable">
                                                <thead>
                                                    <tr>
                                                        <th data-label="PostingID">PostingID</th>
                                                        <th data-label="SourceCity">Source City</th>
                                                        <th data-label="DestinationCity">Destination City</th>
                                                        <th data-label="DeliveryDate">Delivery Date</th>
                                                        <th data-label="GoodsWeight">Goods Weight</th>
                                                        <th data-label="TruckType">Truck Type</th>
                                                        <th data-label="AvailableCapacity">Available Capacity</th>
                                                        <th data-label="AvailableCapacity">Posting Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @if (Model.TransportSearchData.Count > 0)
                                                {
                                                    for (var i = 0; i < Model.TransportSearchData.Count; i++)
                                                    {
                                                        var postingData = Model.TransportSearchData[i];
                                                        <tr>
                                                            <td data-label="PostingID"><a href='/Posting/Edit?PostingId=@postingData.PostingID' class="customLink">@postingData.PostingID</a></td>
                                                            <td data-label="SourceCity">@postingData.SourceCity</td>
                                                            <td data-label="DestinationCity">@postingData.DestinationCity</td>
                                                            <td data-label="DeliveryDate">@postingData.DeliveryDate</td>
                                                            <td data-label="GoodsWeight">@postingData.GoodsWeightName</td>
                                                            <td data-label="TruckType">@postingData.TruckTypeName</td>
                                                            <td data-label="AvailableCapacity">@postingData.AvailableTonnage</td>
                                                            <td data-label="AvailableCapacity">@postingData.PostingStatus</td>
                                                        </tr>

                                                    }
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>

            var demo1 = SetAutoComplete("#txtSourceCity", "#hdnSourceCity");

            var demo1 = SetAutoComplete("#txtDestinationCity", "#hdnDestinationCity");

            function ClearSearch() {
                $("#hdnSourceCity").val("");
                $("#hdnDestinationCity").val("");
                $("#txtDeliveryDate").val("");
                $("#ddlGoodsWeight").val("");
                $("#ddlTruckType").val("");
                $("#txtSourceCity").val("");
                $("#txtDestinationCity").val("");
                $("#txtAvailableCapacity").val("");
            }

            function SearchPost() {
                var SourceCityID = $("#hdnSourceCity").val();
                var DestinationCityID = $("#hdnDestinationCity").val();
                var DeliveryDate = $("#txtDeliveryDate").val();
                var GoodsWeightID = $("#ddlGoodsWeight").val();
                var TruckTypeId = $("#ddlTruckType").val();
                var AvlCapacity = $("#txtAvailableCapacity").val();
                var PostingStatusID = $("#ddlPostingStatus").val();
                if ($("#txtSourceCity").val() == "") {
                    $("#hdnSourceCity").val('');
                    SourceCityID = '';
                }
                if ($("#txtDestinationCity").val() == "") {
                    $("#hdnDestinationCity").val('');
                    DestinationCityID = '';
                }
                if (AvlCapacity == "") {
                    AvlCapacity = 0.0;
                }
                var postingID = $("#txtPostingID").val();
                var chkMyPostings = $("#chkMyPostings").is(':checked');

                $.ajax({
                    type: "POST",
                    url: "/Posting/SearchTransportBooking",
                    data: JSON.stringify({ SourceCityID: SourceCityID, DestinationCityID: DestinationCityID, DeliveryDate: DeliveryDate, GoodsWeightID: GoodsWeightID, AvailableCapacity: AvlCapacity, TruckTypeID: TruckTypeId, PostingStatusID: PostingStatusID, MyPostingsOnly: chkMyPostings, PostingID: postingID }),
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        /*
                        var IsSuccess = result.IsSuccess;
                        var msg = result.Message;
                        var url = result.RedirectURL;
                        */
                        if (result === 'Failure') {
                            console.log('error', result);
                            modalPopup.SetText('Failure', '', result);
                        }
                        $("#MyTable tr:gt(0)").remove();

                        for (var i = 0; i < result.length; i++) {
                            var PostingID = result[i].PostingID;
                            var SourceCity = result[i].SourceCity;
                            var DestinationCity = result[i].DestinationCity;
                            var DeliveryDate = result[i].DeliveryDate;
                            var GoodsWeightName = result[i].GoodsWeightName;
                            var AvailableTonnage = result[i].AvailableTonnage;
                            var TruckTypeName = result[i].TruckTypeName;
                            var PostingStatus = result[i].PostingStatus;
                            $('#MyTable').append('<tr><td data-label="PostingID"><a href="/Posting/Edit?PostingId=' + PostingID + '" >' + PostingID + '</a></td><td data-label="SourceCity">' + SourceCity + '</td><td data-label="DestinationCity">' + DestinationCity + '</td><td data-label="DeliveryDate">' + DeliveryDate + '</td><td data-label="GoodsWeight">' + GoodsWeightName + '</td><td data-label="TruckType">' + TruckTypeName + '</td><td data-label="AvailableCapacity">' + AvailableTonnage + '</td><td data-label="PostingStatus">' + PostingStatus + '</td> </tr>');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });
            }

            
        </script>
    
}


