﻿
@{
    ViewBag.Title = "TripSheet";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.TripSheet

<style>
    .drag-handler {
/*
        width: 100%;
        position: relative;
        /*background-color: #E4E6EB;*/
        /*background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);*/
        /*background-size: 10px 20px;
        cursor: move;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        */
    }

        .drag-handler:active {
            /*background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
            background-size: 10px 20px;*/
        }
        .Mapline1{
            background-color:#6BAEEA;
        }
        .Mapline2{
            background-color:#ffffff;
        }
</style>

<section class="section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="container">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 innerHeader">
                        <!--<h4>Dashboard</h4>-->
                        <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>Create/Update Trip Sheet<i class="fa fa-ban rightsrew"></i></span>  </div>
                        <hr>
                        <div class="card searchCard">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">PostingID:</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            <span class="PageLabel" id="lblPostingID">
                                                @Model.PostingID
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">Trip StartDate:</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            <span class="PageLabel" id="lblPostingID">
                                                @Model.StartDate
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">Truck Number:</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                            @Html.TextBox("txtPostingTruckNumber", Model.TruckNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">Trip Started?</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            @Model.PostingStatusName
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">Driver Name:</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                            @Html.DropDownListFor(m => m.TripDriverData, new SelectList(Model.TripDriverData, "DriverID", "DriverName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlPostingDriverName" })
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        &nbsp;
                                        @if (ViewBag.CreateMode)
                                        {
                                            <button type="button" class="btn btn-success" onclick="AddDriver();"><i class="fa fa-plus"></i> Add Driver</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">Via Routes:</label>
                                        <div class="input-group col-md-8 cpd-group">
                                            @Model.ViaRoutes
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group row">&nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>    

    function AddDriver(){
        redirectTo =getUrlParameter('returnURL');
        if(redirectTo == undefined){
            redirectTo = "";
        }else{
            redirectTo = "?returnURL=/Posting/OpenTripSheet?" +redirectTo;
        }
        window.location.href="/Driver/ManageDrivers" + redirectTo;
    }

    
</script>

<style>

</style>

@Html.Partial("_TripData", Model)
<section class="section fp-section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <span class="Mapline1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Route decided by transporter<br />
                            <span class="Mapline2">- - - -</span> Route taken by truck driver <br />
                            <span><img src="https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png" alt="Truck position" /> Hover over the icon to see when the truck passed this location</span>
                            @Html.Partial("~/Views/Tracking/_VisualTracker.cshtml", new TransporterModel.TripDetailFromPage { PostingID = Model.PostingID, TripTrackingDetails = Model.TruckTrackingDetails })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
</section>


