﻿@model string
<style>
    .pac-container {
    z-index: 1051 !important;
}
</style>
<div id="AddressOuterDiv">
    <div id="AddressPopup">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-group row">
                    <label for="example-text-input" class="col-md-12 col-form-label pull-left">Type your @Model address here:</label>
                    <input type="hidden" id="hdnAddressType" value="@Model" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group row input-group col-md-12 cpd-group">
                    <input type="text" class="form-control" placeholder="Enter full address" id="autocomplete" onFocus="geolocate()">
                </div>
            </div>
        </div>
        <div id="InnerAddress">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="HouseNumber" id="street_number">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="StreetName" id="route">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="Enter Address2" id="txtAddress2">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="Enter City" id="locality">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="Enter State" id="administrative_area_level_1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="Enter ZipCode" id="postal_code">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <input type="text" class="form-control" placeholder="Enter Country" id="country">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group row input-group col-md-12 cpd-group">
                        <button type="button" class="btn btn-danger" onclick="SaveAddress();">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
          street_number: 'short_name',
          route: 'long_name',
          locality: 'long_name',
          administrative_area_level_1: 'short_name',
          country: 'long_name',
          postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
          // location types.
          //debugger;
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')), { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
        //console.log("listener added");
      }

      function fillInAddress() {
          //console.log("in listener method");
          // Get the place details from the autocomplete object.
          //debugger;
          var place = autocomplete.getPlace();


        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
            document.getElementById(addressType).text = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
          //debugger;
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                  //alert(position);
                  //console.log("position: " + position);
                  var geolocation = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                  };
                  var circle = new google.maps.Circle({
                      center: geolocation,
                      radius: position.coords.accuracy
                  });
                  autocomplete.setBounds(circle.getBounds());
                  //console.log("circle.getBounds(): " + circle.getBounds());
              });
        }
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5oZ_wJYhvvQRhwNOVEUTohDnPTYyOXuA&libraries=places&callback=initAutocomplete" async defer></script>
<script>
    $(document).ready(function () {
        LoadAddressData();
    });
    function LoadAddressData() {
        var addressInfo
        if ($('#hdnAddressType').val() == 'Pickup') {
            addressInfo = tempAddressObj.PickupAddress;
        }
        if ($('#hdnAddressType').val() == 'Drop') {
            addressInfo = tempAddressObj.DropAddress;
        }
        if (addressInfo != null) {
            $('#autocomplete').val(GetAddressText(addressInfo));
            $('#street_number').val(addressInfo.HouseNumber);
            $('#route').val(addressInfo.StreetName);
            $('#txtAddress2').val(addressInfo.Address2);
            $('#locality').val(addressInfo.City);
            $('#administrative_area_level_1').val(addressInfo.State);
            $('#postal_code').val(addressInfo.ZipCode);
            $('#country').val(addressInfo.Country);
            $('#autocomplete').focus();
        }
    }
</script>