﻿
<div>
    <h5><u>Disclaimer:</u></h5>
    <br />
    <h3>Please read this carefully.</h3>
    <ul class="static-page-list" >
        <li >Fetchmygoods.com helps in providing a framework for the transporters and agents to collaborate and enable them in transportation of goods from a origin place to destination. </li>

        <li>We will not be responsible for any illegal transportation of goods or any practices that are against the Indian Law. </li>

        <li>Neither we nor the Third party will not provide any guarantee to the information given in the website. </li>

        <li>You acknowledge such information that it might contain inaccuracies or errors and we will not be liable for those errors or inaccuracies to the fullest extent provided by the law. </li>

        <li>FetchMyGoods.com will not able to verify the accuracy of the data submitted by the users in the portal. </li>

        <li>Customers who use the services of FetchMyGoods.com should verify the information given by other users so that it suits your requirements. </li>

        <li>It is vital that the users take care of the dealings with other people/users on this site. </li>

        <li>We, FetchMyGoods.com will not be responsible for the content or context given by other users. </li>

        <li>FetchMyGoods.com will not be responsible for the loss, theft and damage of goods at any cause and it should be consulted with the concerned parties.</li>

        <li>
            FetchMyGoods.com does not warrant that the functions contained in this site will be error-free or uninterrupted, that defects will be corrected,
            or the website or server that makes the website available are free from harmful components including viruses.
        </li>

        <li>FetchMyGoods.com does not warrant that the information given on the website is accurate, complete, correct, adequate, useful, timely, reliable or otherwise. </li>

        <li>You acknowledge, by your use of this website that your use is at your risk</li>
    </ul>
</div>