﻿
@model TransporterModel.BookingPage
<script>

    var pageCreateMode = "@ViewBag.CreateMode";
    if (pageCreateMode === "False") {
        pageCreateMode = false;
    }

    $(document).ready(function () {

        var demo1 = SetAutoComplete("#txtBookingSourceCity", "#hdnBookingSourceCity");
        var demo2 = SetAutoComplete("#txtBookingDestinationCity", "#hdnBookingDestinationCity");        
        
    });
</script>

@using (Html.BeginForm("CreateBooking", "Booking", FormMethod.Post))
{
    
                    <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Booking ID:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="PageLabel" id="lblBookingID">@Html.DisplayFor(m => m.BookingDetails.BookingID, new { @class = "", @id = "lblBookingID" })</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">LR Number:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                            @if (ViewBag.CreateMode)
                                            {
                                                @Html.TextBox("txtLRNumber", Model.BookingDetails.LRNumber, new { @class = "form-control", @placeholder = "Enter LR Number", @maxlength = 20 })
                                            }
                                            else
                                            {
                                                @Html.TextBox("txtLRNumber", Model.BookingDetails.LRNumber, new { @class = "form-control", disabled = "disabled",@placeholder = "Enter LR Number", @maxlength = 20 })
                                            }
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">User Name:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="TransporterReadonlyValue" id="LoggedInUser">@ViewBag.UserName</span>
                                                @Html.HiddenFor(m => m.BookingDetails.UserID, new { @id = "hdnUserID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Updated at:</label>
                                            <div class="input-group col-md-8 cpd-group">
                    <span class="TransporterReadonlyValue" id="lblUpdateOn">
                        @Html.DisplayFor(m => m.BookingDetails.UpdatedOn, new { @class = "form-control", @id = "lblUpdateOn" })
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Source City:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                @Html.TextBox("txtBookingSourceCity", Model.BookingDetails.SourceCityName, new { @class = "form-control", @placeholder = "Enter Source City" })
                                                @Html.HiddenFor(m => m.BookingDetails.SourceCityID, new { @id = "hdnBookingSourceCity" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingSourceCity", Model.BookingDetails.SourceCityName, new { @class = "form-control", disabled = "disabled", @placeholder = "Enter Source City" })
                                                    @Html.HiddenFor(m => m.BookingDetails.SourceCityID, new { @id = "hdnBookingSourceCity" })
                                                }
                                                <input type="hidden" id="hdnSourceCity" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Destination City:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                @Html.TextBox("txtBookingDestinationCity", Model.BookingDetails.DestinationCityName, new { @class = "form-control", @placeholder = "Enter Destination City" })
                                                @Html.HiddenFor(m => m.BookingDetails.DestinationCityID, new { @id = "hdnBookingDestinationCity" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingDestinationCity", Model.BookingDetails.DestinationCityName, new { @class = "form-control", disabled = "disabled", @placeholder = "Enter Destination City" })
                                                    @Html.HiddenFor(m => m.BookingDetails.DestinationCityID, new { @id = "hdnBookingDestinationCity" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Goods Type:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.DropDownListFor(m => m.GoodsType, new SelectList(Model.GoodsType, "GoodsTypeID", "GoodsTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingGoodsType" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("ddlBookingGoodsType", null, new { @class="form-control", disabled = "disabled", id ="ddlBookingGoodsType"});
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Truck Type:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.DropDownListFor(m => m.TruckType, new SelectList(Model.TruckType, "TruckTypeID", "TruckTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingTruckType" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("ddlBookingTruckType", null, new { @class = "form-control", disabled = "disabled", id = "ddlBookingTruckType" });
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Goods Weight:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.DropDownListFor(m => m.GoodsWeight, new SelectList(Model.GoodsWeight, "GoodsWeightID", "GoodsWeightName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingGoodsWeight" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("ddlBookingGoodsWeight", null, new { @class = "form-control",disabled = "disabled" });
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Package Type:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.DropDownListFor(m => m.PackageType, new SelectList(Model.PackageType, "PackageTypeID", "PackageTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingPackageType" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("ddlBookingPackageType", null, new { @class = "form-control", disabled = "disabled" });
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Payment Type:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.DropDownListFor(m => m.PaymentType, new SelectList(Model.PaymentType, "PaymentTypeID", "PaymentTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingPaymentType" })

                                                }
                                                else {
                                                    @Html.DropDownList("ddlBookingPaymentType", null, new { @class = "form-control",disabled = "disabled" });
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                <label for="example-text-input" class="col-md-4 col-form-label">Delivery Date:</label>
                                            <div class="input-group col-md-8 cpd-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @if (ViewBag.CreateMode)
                                            {
                                                @Html.TextBox("txtBookingDeliveryDate", Model.BookingDetails.DeliveryDate, new { @class = "form-control",@placeholder = "DD/MM/YYYY" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("txtBookingDeliveryDate", Model.BookingDetails.DeliveryDate, new { @class = "form-control", disabled = "disabled", @placeholder = "DD/MM/YYYY" })
                                            }
                                                
                                            </div>
                                        </div>
                                    </div>

        
                                </div>
if (((TransporterModel.User)Session["User"]).IsPaidUser == true || (ViewBag.IsbookingOwner))
{
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Contact Person:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                @Html.TextBox("txtBookingContactPerson", Model.BookingDetails.ContactPersonName, new { @class = "form-control", @placeholder = "Contact Person", @maxlength = 50 })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingContactPerson", Model.BookingDetails.ContactPersonName, new { @class = "form-control", disabled = "disabled", @placeholder = "Contact Person", @maxlength = 50 })
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Email:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                @Html.TextBox("txtBookingEmail", Model.BookingDetails.ContactPersonEmail, new { @class = "form-control non-zero-num", @placeholder = "Email", @type = "Email", @maxlength = 50 })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingEmail", Model.BookingDetails.ContactPersonEmail, new { @class = "form-control non-zero-num", disabled = "disabled", @placeholder = "Email", @type = "Email", @maxlength = 50 })
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label">Mobile Number:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.TextBox("txtBookingContactPersonPhone", Model.BookingDetails.ContactPersonMobileNumber, new { @class = "form-control",  @placeholder = "Mobile Number", @maxlength = 10, @type = "number", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingContactPersonPhone", Model.BookingDetails.ContactPersonMobileNumber, new { @class = "form-control",disabled = "disabled", })
                                                }                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label"> Phone Number:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                @if (ViewBag.CreateMode)
                                                {
                                                    @Html.TextBox("txtBookingMobileNumber", Model.BookingDetails.ContactPersonPhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @maxlength = 13, @type = "number", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("txtBookingMobileNumber", Model.BookingDetails.ContactPersonPhoneNumber, new { @class = "form-control", disabled = "disabled", })
                                                }                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
}

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Booking Status:</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="PageLabel" id="lblBookingStatus">
                                                    @Html.DisplayFor(m => m.BookingDetails.BookingStatusName, new { @class = "form-control", @id = "lblBookingStatus" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
                                            &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (ViewBag.CreateMode)
                                {
                                    // call Partial view for Pickup and Drop address
                                    @Html.Partial("_AddressEntry", Model.AllAddress);
                                }

}

