﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.BookingPage
@using TransporterModel;

<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>

<div>
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper cpd-wrapper">
                                <span class="create-post-details">
                                    <i class="fa fa-ban leftsrew"></i>Create Load Booking
                                    <i class="fa fa-ban rightsrew"></i>
                                </span>
                            </div>
                            <hr>
                            <div class="card searchCard">
                                @Html.Partial("_Create", Model)
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="PageLabel" id="lblBookingStatus">
                                                    &nbsp;
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                @if (ViewBag.CreateMode)
                                                {
                                                    <button type="button" class="btn btn-success pull-right" onclick="CreateBookingData();"><i class="fa fa-plus"></i> SAVE</button>
                                                }
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@if (!ViewBag.CreateMode)
{
    if (!ViewBag.IsbookingOwner)
    {
        if ((Model.BookingDetails.BookingStatus.ToString() == "100") || (Model.BookingDetails.BookingStatus.ToString() == "200"))
        {
            //Show Textarea and SendMessage button
            <section class="section fp-section fp-table animateOut animateIn">
                <div class="fp-tableCell">
                    <div class="wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card margin-top-5">
                                        <h5>Express Interest in sending your load for this Agent?</h5>
                                        <div class="card-block table-border-style">
                                            <div class="col-md-12">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group row">
                                                        <span for="example-text-input" class="form-label text-left" id="ExpressedInterestMessage">@Html.Raw(ViewBag.AssociatedBookingIDMessage)</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group row">
                                                        <button type='button' class='btn btn-success' onclick='ExpressInterest();'><i class='fa fa-exclamation-circle'></i> Express Interest</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>PrintLineBreakWithRow();</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        // Show list of all message from interested agents

        <section class="section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card margin-top-5">
                                    <h5>List of Transporters who have expressed interest in your trip: </h5>
                                    <div class="card-block table-border-style">
                                        <div id="responsive-tbl">
                                            <table id="MyTable1">
                                                <thead>
                                                    <tr>
                                                        <th data-label="Select">Select?</th>
                                                        <th data-label="TransporterName">TransporterName</th>
                                                        <th data-label="PostingID">PostingID</th>
                                                        <th data-label="Message">Message from Transporter</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AllbookingMessage != null)
                                                    {
                                                        for (int i = 0; i < Model.AllbookingMessage.Count; i++)
                                                        {
                                                            var CurrentTransID = Model.AllbookingMessage[i].UserID;
                                                        <tr>
                                                        @if (Model.BookingDetails.BookingStatus.ToString() == "200")
                                                        {
                                                            <td data-label="Select">@Html.RadioButton("rdbTransporterID", Model.AllbookingMessage[i].UserID)</td>
                                                        }
                                                        else
                                                        {
                                                            if (Model.AllbookingMessage[i].IsAccepted.ToString() == "1")
                                                            {
                                                                <td data-label="Have you accepted?">Accepted</td>
                                                            }
                                                            else
                                                            {
                                                                <td data-label="Have you accepted?">Not Accepted</td>
                                                            }
                                                        }

                                                        <td data-label="Transporter Name" onclick="ShowContactInfo(@Model.AllbookingMessage[i].UserID);">
                                                            @Html.DisplayFor(m => m.AllbookingMessage[i].AgentName, new { @class = "TransporterText", @id = "lblAgentName" })
                                                            @Html.HiddenFor(m => m.AllbookingMessage[i].UserID, new { @id = "hdnAgentID" })
                                                            @Html.HiddenFor(m => m.AllbookingMessage[i].BookingID, new { @id = "lblbookingId" })
                                                            @Html.HiddenFor(m => m.AllbookingMessage[i].PostingID, new { @id = "lblPostingID" })
                                                        </td>
                                                        <td data-label="PostingID">@Html.DisplayFor(m => m.AllbookingMessage[i].PostingID, new { @class = "TransporterText", @id = "lblPostID" })</td>
                                                        <td data-label="Message from Transporter">@Html.DisplayFor(m => m.AllbookingMessage[i].UserMessage, new { @class = "TransporterText", @id = "lblAgentMessage" }) &nbsp;</td>
                                                    </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>                                            
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    @if ((Model.BookingDetails.BookingStatus.ToString() == "100") || (Model.BookingDetails.BookingStatus.ToString() == "200"))
                                    {
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success" onclick="AcceptDeal();">Accept Deal</button>
                                                    @if(Model.AllPostingRequest.Count == 0){ 
                                                    <button type="button" class="btn btn-warning" onclick="CancelBooking();">Cancel Booking</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <script>Print1Button("View truck status", "ViewTracking", "fa-wifi", "btn-success")</script>
                                    }                                    
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card margin-top-5">
                                    <h5>List of transporters/posting with whom you requested for pickup of this booking: </h5>
                                    <div class="card-block table-border-style">
                                        <div id="responsive-tbl">
                                            <table id="MyTable2">
                                                <thead>
                                                    <tr>
                                                        <th data-label="Select">Transporter Accepted?</th>
                                                        <th data-label="AgentName">Transporter</th>
                                                        <th data-label="PostingID">PostingID</th>
                                                        <th data-label="Message">Your Message To Transporter</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AllPostingRequest != null)
                                                    {
                                                        for (int i = 0; i < Model.AllPostingRequest.Count; i++)
                                                        {
                                                            var CurrentTransID = Model.AllPostingRequest[i].UserID;
                                                            <tr>
                                                                @if (Model.AllPostingRequest[i].IsAccepted.ToString() == "1")
                                                                {
                                                                <td data-label="Have you accepted?">Accepted</td>
                                                                }
                                                                else
                                                                {
                                                                <td data-label="Have you accepted?">Not yet accepted</td>
                                                                }

                                                                <td data-label="Transporter Name" onclick="ShowContactInfo(@Model.AllPostingRequest[i].UserID);">
                                                                    @Html.DisplayFor(m => m.AllPostingRequest[i].AgentName, new { @class = "TransporterText", @id = "lblAgentName" })
                                                                    @Html.HiddenFor(m => m.AllPostingRequest[i].UserID, new { @id = "hdnAgentID" })
                                                                    @Html.HiddenFor(m => m.AllPostingRequest[i].BookingID, new { @id = "lblbookingId" })
                                                                    @Html.HiddenFor(m => m.AllPostingRequest[i].PostingID, new { @id = "lblPostingID" })
                                                                </td>
                                                                <td data-label="PostingID">@Html.DisplayFor(m => m.AllPostingRequest[i].PostingID, new { @class = "TransporterText", @id = "lblPostID" })</td>
                                                                <td data-label="Message from Transporter">@Html.DisplayFor(m => m.AllPostingRequest[i].UserMessage, new { @class = "TransporterText", @id = "lblAgentMessage" }) &nbsp;</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>                        
    }
    <div id="fade" class="black_overlay"></div>
    <div id="light" class="white_content">
        <div align="right"><a href="javascript:void(0)" onclick="closeHTMLPopup();">Close</a></div>
        <div id="popupContent" style="display:none;">
            <div id="ExpressInterestDiv">
                <section class="section fp-section fp-table animateOut animateIn">
                    <div class="fp-tableCell">
                        <div class="wrap">
                            <div class="container">
                                <div class="codepen-wrapper cpd-wrapper">
                                    <span class="create-post-details">
                                        Create or Select PostingID
                                    </span>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-form-label text-right">List of Postings that you have created:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <div class="input-group row">
                                            <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                            <select id="ddlPostingIds" class="form-control" onchange="PostingIDSelected()"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        <div class="form-group row">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group row">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-sticky-note"></i></span>
                                                                            @Html.TextArea("txtMessageToAgent", (string)ViewBag.MessageToAgent, new { @class = "form-control", @placeholder = "Enter comments to Agent" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        <div class="form-group row">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        <div class="form-group row">
                                            <button type='button' class='btn btn-success' onclick='SendMessageToAgent();'><i class='fa fa-plus'></i> Save</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="PostingDataPopup">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    }
<script>

    $(document).ready(function(){
        $('#MyTable').hide();
    });

    function OpenHTMLPopup(inputHTML, divToFill) {
        document.getElementById('light').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
        //$("#popupContent").html(inputHTML);
        //$(divToFill).html(inputHTML);
        $(divToFill).show();
    }

    function closeHTMLPopup() {
        if (document.getElementById('light') != null) {
            document.getElementById('light').style.display = 'none';
        }
        if (document.getElementById('fade') != null) {
            document.getElementById('fade').style.display = 'none';
        }
    }

    function PostingIDSelected() {
        var selectedVal = $("#ddlPostingIds").find(':selected').val();
        var selectedText = $("#ddlPostingIds").find(':selected').text();
        //alert(selectedText);
        selectedText = $("#ddlPostingIds").find(':selected').text();
        //alert(selectedText);
        if (selectedVal != -1) {
            $.ajax({
                data: { PostingId: selectedVal },
                datatype: "text/plain",
                type: "GET",
                url: '../Posting/ViewPostingPopup',
                cache: false,
                success: function (data) {
                    $("#PostingDataPopup").html(data);
                    OpenHTMLPopup(data, "#PostingDataPopup");
                    //$("#ExpressInterestDiv").html("");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.status);
                    //alert(thrownError);
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }
    }


    $(function () {
        //var selectBox = $("select").selectBoxIt();

        $('.input-group.date').datepicker({
            calendarWeeks: true,
            todayHighlight: true,
            autoclose: true,
            startDate: 'today',
            format: 'd-M-yyyy'
        });
        closeHTMLPopup();
    });

    function CancelBooking(){
        var bookingId = $("#lblBookingID").text().trim()
        var senddata = { bookingID: bookingId };
        var data2Send = JSON.stringify(senddata);

        $.ajax({
            type: "POST",
            url: '/Booking/CancelBooking/',
            data: data2Send,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var IsSuccess = result.IsSuccess;
                var msg = result.Message;
                var url = result.RedirectURL;
                if (IsSuccess) {
                    modalPopup.SetText('Message', '', msg, url);
                } else {
                    modalPopup.SetText('Failure', '', msg);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
    }

    function AcceptDeal() {
        var selectedTransportID = $("input[name=rdbTransporterID]:checked").val();
        if (selectedTransportID == undefined) {
            modalPopup.SetText("Alert", "", "Please select atleast one Transporter to accept the deal!!", "");
            return false;
        }

        //modalPopup.SetText("Alert", "", "TransportID selected: " + selectedTransportID, "");
        var bookingID = $("#lblbookingId").val();
        var PostingID = $("#lblPostingID").val();
        var senddata = { TransporterID: selectedTransportID, PostingID: PostingID, bookingID: bookingID };
        var data2Send = JSON.stringify(senddata);

        $.ajax({
            type: "POST",
            url: '/Booking/AcceptDeal/',
            data: data2Send,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var IsSuccess = result.IsSuccess;
                var msg = result.Message;
                var url = result.RedirectURL;
                if (IsSuccess) {
                    var redirectUrl = "";
                    if (pageCreateMode) {
                        redirectUrl = "/Booking/Edit?bookingId=" + bookingId;
                    }
                    modalPopup.SetText('Message', '', msg, redirectUrl);
                } else {
                    modalPopup.SetText('Failure', '', msg, url);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert(xhr.status);
                //alert(thrownError);
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });


    }

    function SendMessageToAgent() {
        var messageToAgent = $("#txtMessageToAgent").val();
        var bookingID = $('#lblBookingID').text().trim();
        var postingId = $('#lblPostingID').text().trim();
        var agentUserName= $('#LoggedInUser').text().trim();
        msgValidation= $("#txtMessageToAgent").val().length
        if(msgValidation==0)
        {
            modalPopup.SetText('Failure', '', "Message Texbox should not be emty!!");
            $("#txtMessageToAgent").focus();
            return;
        }
        if(postingId==0)
        {
            modalPopup.SetText('Failure', '', "Please choose any postingID below or Create new posting !!");
            return;
        }

        var senddata = { messageToAgent: messageToAgent, bookingID: bookingID, postingID: postingId, agentName: agentUserName};
        var data2Send = JSON.stringify(senddata);
        $.ajax({
            type: "POST",
            url: '/Booking/SendMessage/',
            data: data2Send,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var IsSuccess = result.IsSuccess;
                var msg = result.Message;
                var url = result.RedirectURL;
                if (IsSuccess) {
                    closeHTMLPopup();
                    $("#ExpressedInterestMessage").html("You have already expressed interest with a PostingId: " + postingId.toString());
                    var redirectUrl = "";
                    if (pageCreateMode) {
                        redirectUrl = "/Booking/Edit?BookingId=" + bookingId;
                    }
                    modalPopup.SetText('Success', '', msg, redirectUrl);
                } else {
                    modalPopup.SetText('Failure', '', msg);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert(xhr.status);
                //alert(thrownError);
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
    }


    function CreateBookingData() {
        var bookingData = {};

        bookingData.BookingID = $('#lblBookingID').text().trim();
        bookingData.AgentUserID = $('#hdnUserID').val();
        bookingData.SourceCityID = $('#hdnBookingSourceCity').val();
        bookingData.SourceCityName = $('#txtBookingSourceCity').val();
        bookingData.DestinationCityID = $('#hdnBookingDestinationCity').val();
        bookingData.DestinationCityName = $('#txtBookingDestinationCity').val();
        bookingData.DeliveryDate = $('#txtBookingDeliveryDate').val();
        bookingData.GoodsTypeID = $('#ddlBookingGoodsType').val();
        bookingData.GoodsWeightID = $('#ddlBookingGoodsWeight').val();
        bookingData.PackageTypeID = $('#ddlBookingPackageType').val();
        bookingData.TruckTypeID = $('#ddlBookingTruckType').val();
        bookingData.PaymentTypeID = $('#ddlBookingPaymentType').val();

        bookingData.ContactPersonName = $('#txtBookingContactPerson').val();
        bookingData.ContactPersonPhoneNumber = $('#txtBookingContactPersonPhone').val();
        bookingData.ContactPersonMobileNumber = $('#txtBookingMobileNumber').val();
        bookingData.ContactPersonEmail = $('#txtBookingEmail').val();
        bookingData.LRNumber = $('#txtLRNumber').val();
        bookingData.PhotoPath = "";
        //alert(bookingData);

        if (bookingData.SourceCityName == "")
            modalPopup.SetText('Error', '', "Please Fill SourceCity Name !!");
        else if (bookingData.DestinationCityName == "")
            modalPopup.SetText('Error', '', "Please Fill DestinationCity Name !!");
        else if (bookingData.DestinationCityName == "")
            modalPopup.SetText('Error', '', "Please Fill DestinationCity Name !!");
        else if (bookingData.GoodsTypeID == "")
            modalPopup.SetText('Error', '', "Please Fill Goods Type !!");
        else if (bookingData.GoodsWeightID == "")
            modalPopup.SetText('Error', '', "Please Fill Goods Weight !!");
        else if (bookingData.PackageTypeID == "")
            modalPopup.SetText('Error', '', "Please Fill Package Type !!");
        else if (bookingData.TruckTypeID == "")
            modalPopup.SetText('Error', '', "Please Fill Truck Type !!");
        else if (bookingData.PaymentTypeID == "")
            modalPopup.SetText('Error', '', "Please Fill PaymentType !!");
        else if (bookingData.DeliveryDate == "")
            modalPopup.SetText('Error', '', "Please Fill Delivery Date !!");
        else if (bookingData.ContactPersonName == "")
            modalPopup.SetText('Error', '', "Please Fill Contact Person Name !!");
        else if (bookingData.ContactPersonPhoneNumber == "0")
            modalPopup.SetText('Error', '', "Please Fill Contact Person PhoneNumber !!");
        else if (bookingData.ContactPersonMobileNumber == "0")
            modalPopup.SetText('Error', '', "Please Fill Contact Person MobileNumber !!");
        else if (bookingData.ContactPersonEmail == "")
            modalPopup.SetText('Error', '', "Please Fill Contact Person Email !!");
        else if (bookingData.LRNumber  == "" || bookingData.LRNumber == null)
            modalPopup.SetText('Error', '', "Please Fill LR Number!!");
        else {
            var sendData = { UIData: bookingData, AddressData: tempAddressObj};
            var data2Send = JSON.stringify(sendData);
            //alert(bookingData.LRnumber);
            $.ajax({
                type: "POST",
                url: "/Booking/CreateBooking?returnURL=" + getUrlParameter("returnURL"),
                data: data2Send,
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var bookingID = result.UniqueId;
                    var IsSuccess = result.IsSuccess;
                    var msg = result.Message;
                    var url = result.RedirectURL;
                    if (IsSuccess) {
                        var redirectUrl = "";
                        if (pageCreateMode) {
                            redirectUrl = "/Booking/Search";
                        }
                        if(url != ""){
                            redirectUrl = url;
                        }
                        $('#lblBookingID').text(bookingID);
                        modalPopup.SetText('Success', '', msg, redirectUrl);
                    } else {
                        modalPopup.SetText('Failure', '', msg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }
    }

    function SearchBookingPage() {
        $.ajax({
            type: "POST",
            url: '/Booking/SearchBookingPage/',
            data: JSON.stringify(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
        function successFunc(data, status) {
            if (data.isRedirect) {
                isLoggedInUser = true;
                window.location.href = data.redirectUrl;
            } else {
                //alert(data);
                //$('#LoginErrorMessage').text(data);
                //$('#LoginErrorMessage').addClass('isa_error');
                modalPopup.SetText('Login Error', '', data);
            }
        }

        function errorFunc(result) {
            LogAjaxError(result, true);
        }
    }

    function BackToHomePage() {
        $.ajax({
            type: "POST",
            url: '/Booking/BackToHomePage/',
            data: JSON.stringify(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
        function successFunc(data, status) {
            if (data.isRedirect) {
                isLoggedInUser = true;
                window.location.href = data.redirectUrl;
            } else {
                //alert(data);
                //$('#LoginErrorMessage').text(data);
                //$('#LoginErrorMessage').addClass('isa_error');
                modalPopup.SetText('Login Error', '', data);
            }
        }

        function errorFunc(result) {
            LogAjaxError(result, true);
        }
    }

    function ExpressInterest(){
        // 1. Get bookingIds populated in the Dropdown
        var SearchUrl = '../api/Posting/GetUserPostings/' + @ViewBag.UserID ;
        //begin source
        $.ajax({
            url: SearchUrl,
            type: 'GET',
            cache: false,
            //data: { userID: 12 },
            dataType: 'json',
            success: function (jsonData) {
                var userPostings = $('#ddlPostingIds');
                userPostings.empty();
                userPostings.append(
                    $('<option/>', {
                        value: -1,
                        text: "Select one option"
                    })
                    );
                userPostings.append(
                    $('<option/>', {
                        value: 0,
                        text: "Create new Posting"
                    })
                    );
                $.each(jsonData, function (index, item) {
                    userPostings.append(
                        $('<option/>', {
                            value: item.PostingID,
                            text: item.PostingID
                        })
                    );
                });

                // 2. Fill the popup with HTML contents
                var popupContent = $("#ExpressInterestDiv").html();
                //modalPopup.SetText('Select or Create bookingID', '', popupContent);
                OpenHTMLPopup(popupContent, "#popupContent");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });


    }

    function ViewTracking(){
        var bookingID = $("#lblbookingId").val();
        window.location.href="/Tracking/Index?BookingID=" + bookingID;
    }


</script>
