﻿@{
    ViewBag.Title = "Search Booking";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@model TransporterModel.AgentSearchPage

@using (Html.BeginForm("Search", "Booking", FormMethod.Post))
{
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>Search Loads<i class="fa fa-ban rightsrew"></i></span>  </div>
                            <hr>
                            <div class="card searchCard">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Source City:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                @Html.TextBox("txtSourceCity", Model.SearchDetails.SourceCityName, new { @class = "form-control", @placeholder = "Enter City" })
                                                @Html.HiddenFor(m => m.SearchDetails.SourceCityID, new { @id = "hdnSourceCity" })
                                                <input type="hidden" id="hdnSourceCity" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Destination City:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-road"></i></span>
                                                @Html.TextBox("txtDestinationCity", Model.SearchDetails.DestinationCityName, new { @class = "form-control", @placeholder = "Enter City" })
                                                @Html.HiddenFor(m => m.SearchDetails.SourceCityID, new { @id = "hdnDestinationCity" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Delivery Date:</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtDeliveryDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Truck Type:</label>
                                            <div class="input-group col-md-8">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                @Html.DropDownListFor(m => m.TruckType, new SelectList(Model.TruckType, "TruckTypeID", "TruckTypeName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlTruckType" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Goods Weight:</label>
                                            <div class="input-group col-md-8">
                                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                @Html.DropDownListFor(m => m.GoodsWeight, new SelectList(Model.GoodsWeight, "GoodsWeightID", "GoodsWeightName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlGoodsWeight" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Booking Status:</label>
                                            <div class="input-group col-md-8">
                                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                @Html.DropDownListFor(m => m.BookingStatus, new SelectList(Model.BookingStatus, "StatusID", "StatusName"), (string)ViewBag.DropDownDefault, new { @class = "form-control", id = "ddlBookingStatus" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">BookingID:</label>
                                            <div class="input-group col-md-8">
                                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                                                <input type="text" class="form-control" placeholder="Enter BookingID" id="txtBookingID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-10 col-form-label text-right">Show Only my bookings?</label>
                                            <div class="input-group col-md-2">
                                                <input type="checkbox" id="chkMyBookings" checked />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" onclick="SearchPost();">Search</button>
                                            <button type="button" class="btn btn-default" onclick="ClearSearch();">Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
 
       <script>
            var demo1 = SetAutoComplete("#txtSourceCity", "#hdnSourceCity");

            var demo1 = SetAutoComplete("#txtDestinationCity", "#hdnDestinationCity");

            function ClearSearch() {
                $("#hdnSourceCity").val("");
                $("#hdnDestinationCity").val("");
                $("#txtDeliveryDate").val("");
                $("#ddlGoodsWeight").val("");
                $("#txtSourceCity").val("");
                $("#txtDestinationCity").val("");
                $("#ddlTruckType").val("");
            }

            function SearchPost() {
                var SourceCityID = $("#hdnSourceCity").val();
                var DestinationCityID = $("#hdnDestinationCity").val();
                var DeliveryDate = $("#txtDeliveryDate").val();
                var GoodsWeightID = $("#ddlGoodsWeight").val();
                var TruckTypeID = $("#ddlTruckType").val();
                var BookingStatusID = $("#ddlBookingStatus").val();
                var bookingID = $("#txtBookingID").val();
                var chkMyBookings = $("#chkMyBookings").is(':checked');
                //alert(chkMyBookings);

                if ($("#txtSourceCity").val() == "") {
                    $("#hdnSourceCity").val('');
                    SourceCityID = '';
                }
                if ($("#txtDestinationCity").val() == "") {
                    $("#hdnDestinationCity").val('');
                    DestinationCityID = '';
                }
                $.ajax({
                    type: "POST",
                    url: "/Booking/SearchAgentBooking",
                    data: JSON.stringify({ SourceCityID: SourceCityID, DestinationCityID: DestinationCityID, DeliveryDate: DeliveryDate, GoodsWeightID: GoodsWeightID, TruckTypeID: TruckTypeID, BookingStatusID: BookingStatusID, MyBookingsOnly: chkMyBookings, BookingID: bookingID }),
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        $("#MyTable tr:gt(0)").remove();
                       for (var i = 0; i < result.length; i++)
                        {
                            var BookingID = result[i].BookingID;
                            var SourceCity = result[i].SourceCity;
                            var DestinationCity = result[i].DestinationCity;
                            var DeliveryDate = result[i].DeliveryDate;
                            DeliveryDate = DeliveryDate.replace(" 12:00:00 AM", "");
                            var GoodsWeightName = result[i].GoodsWeightName;
                            var TruckTypeName = result[i].TruckTypeName;
                            var BookingStatus = result[i].BookingStatus;
                            $('#MyTable').append('<tr><td data-label="BookingID"><a href="/Booking/Edit?bookingId=' + BookingID + '"  class="customLink">' + BookingID + '</a>' + '</td><td data-label="SourceCity">' + SourceCity + '</td><td data-label="DestinationCity">' + DestinationCity + '</td><td data-label="DeliveryDate">' + DeliveryDate + '</td><td data-label="GoodsWeight">' + GoodsWeightName + '</td><td data-label="TruckType">' + TruckTypeName + '</td><td data-label="BookingStatus">' + BookingStatus + '</td> </tr>');
                       }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });
            }

            function BackToHomePage() {
            $.ajax({
                type: "POST",
                url: '/Booking/BackToHomePage/',
                data: JSON.stringify(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
                function successFunc(data, status) {
                    if (data.isRedirect) {
                        isLoggedInUser = true;
                        window.location.href = data.redirectUrl;
                    } else {
                        //alert(data);
                        //$('#LoginErrorMessage').text(data);
                        //$('#LoginErrorMessage').addClass('isa_error');
                        modalPopup.SetText('Login Error', '', data);
                    }
            }

            function errorFunc(result) {
                LogAjaxError(result, true);
            }
        }
        </script>

    <section class="section fp-section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card margin-top-5">
                                <h5>Booking details: </h5>
                                <div class="card-block table-border-style">
                                    <div id="responsive-tbl">
                                        <table id="MyTable">
                                            <thead>
                                                <tr>
                                                    <th data-label="BookingID">BookingID</th>
                                                    <th data-label="SourceCity">Source City</th>
                                                    <th data-label="DestinationCity">Destination City</th>
                                                    <th data-label="DeliveryDate">Delivery Date</th>
                                                    <th data-label="GoodsWeight">Goods Weight</th>
                                                    <th data-label="TruckType">Truck Type</th>
                                                    <th data-label="BookingStatus">Booking Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if(Model.SearchData.Count > 0)
                                                {
                                                    for (var i = 0; i < Model.SearchData.Count; i++)
                                                    {
                                                        var bookingData = Model.SearchData[i];
                                                        <tr>
                                                            <td data-label="BookingID"><a href='/Booking/Edit?bookingId=@bookingData.BookingID' class="customLink">@bookingData.BookingID</a></td>
                                                            <td data-label="SourceCity">@bookingData.SourceCityName</td>
                                                            <td data-label="DestinationCity">@bookingData.DestinationCityName</td>
                                                            <td data-label="DeliveryDate">@bookingData.DeliveryDate.ToString("dd-MMM-yy").Replace(" 12:00:00 AM", "")</td>
                                                            <td data-label="GoodsWeight">@bookingData.GoodsWeightName</td>
                                                            <td data-label="TruckType">@bookingData.TruckTypeName</td> 
                                                            <td data-label="BookingStatus">@bookingData.BookingStatus</td> 
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}