﻿@model TransporterModel.BookingAddress
<script>
    var tempAddressObj = null;
    tempAddressObj = @Html.Raw(Json.Encode(Model));
    function GetFullAddressText(addressType) {
        var outVal = "";
        if (addressType != null) {
            if(addressType == 'Pickup'){
                var addressObj = tempAddressObj.PickupAddress;
                outVal = GetAddressText(addressObj);
            }
            if(addressType == 'Drop'){
                var addressObj = tempAddressObj.DropAddress;
                outVal = GetAddressText(addressObj);
            }
        }
        document.write(outVal);
    }

    function EditAddress(addressType){
        var addressObj;
        $.ajax({
            data: { AddressType: addressType },
            datatype: "text/plain",
            type: "GET",
            url: '/Static/AddressAutoComplete/' + addressType,
            cache: false,
            success: function (data) {
                if(addressType == 'Pickup'){
                    //var data = $('#AddressPopup');
                    $("#main_popupContent").html('');
                    OpenMainHTMLPopup(data, "#main_popupContent");
                    $("#hdnAddressType").val(addressType);
                    addressObj = tempAddressObj.PickupAddress;            
                }
                if(addressType == 'Drop'){
                    //var data = $('#AddressPopup');
                    $("#main_popupContent").html('');
                    OpenMainHTMLPopup(data, "#main_popupContent");
                    addressObj = tempAddressObj.DropAddress;
                    $("#hdnAddressType").val(addressType);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });        
    }

    function SaveAddress(){
    
        if($("#hdnAddressType").val() == 'Pickup'){
            tempAddressObj.PickupAddress.HouseNumber = $("#street_number").val();
            tempAddressObj.PickupAddress.StreetName = $("#route").val();
            tempAddressObj.PickupAddress.Address2 = $("#txtAddress2").val();
            tempAddressObj.PickupAddress.City = $("#locality").val();
            tempAddressObj.PickupAddress.State = $("#administrative_area_level_1").val();
            tempAddressObj.PickupAddress.ZipCode = $("#postal_code").val();
            tempAddressObj.PickupAddress.Country = $("#country").val();
            //var outVal = GetAddressText(tempAddressObj.PickupAddress);
            $("#lblPickupAddress")[0].innerText = GetAddressText(tempAddressObj.PickupAddress);
            $("#lblPickupAddress").val(GetAddressText(tempAddressObj.PickupAddress));
            closeMainHTMLPopup();
        }else{
            tempAddressObj.DropAddress.HouseNumber = $("#street_number").val();
            tempAddressObj.DropAddress.StreetName = $("#route").val();
            tempAddressObj.DropAddress.Address2 = $("#txtAddress2").val();
            tempAddressObj.DropAddress.City = $("#locality").val();
            tempAddressObj.DropAddress.State = $("#administrative_area_level_1").val();
            tempAddressObj.DropAddress.ZipCode = $("#postal_code").val();
            tempAddressObj.DropAddress.Country = $("#country").val();
            //var outVal = GetAddressText(tempAddressObj.DropAddress);
            $("#lblDropAddress")[0].innerText = GetAddressText(tempAddressObj.DropAddress);
            $("#lblDropAddress").val(GetAddressText(tempAddressObj.DropAddress));
            closeMainHTMLPopup();
        }
    }

    function GetAddressText(AddressObj){
        var outVal = CheckNullInAddressObj(AddressObj.HouseNumber) + CheckNullInAddressObj(AddressObj.StreetName) +  CheckNullInAddressObj(AddressObj.Address2) 
                     + CheckNullInAddressObj(AddressObj.City) + CheckNullInAddressObj(AddressObj.State) +  CheckNullInAddressObj(AddressObj.ZipCode) + CheckNullInAddressObj(AddressObj.Country);
        return outVal;
    }

</script>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group row">
            <a href="javascript:EditAddress('Pickup');"><label for="example-text-input" class="col-md-4 col-form-label pull-left">Pickup Address:</label></a>
            <div class="input-group col-md-8 cpd-group">
                <span class="PageLabel" id="lblPickupAddress">
                    <script>GetFullAddressText('Pickup')</script>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group row">
            <a href="javascript:EditAddress('Drop');"><label for="example-text-input" class="col-md-4 col-form-label pull-left">Drop Address:</label></a>
            <div class="input-group col-md-8 cpd-group">
                <span class="PageLabel" id="lblDropAddress">
                    <script>GetFullAddressText('Drop')</script>
                </span>
            </div>
        </div>
     </div>
</div>

