﻿<div id="main_fade" class="black_overlay"></div>
<div id="main_light" class="white_content">
    <div align="right"><a href="javascript:void(0)" onclick="closeMainHTMLPopup();">Close</a></div>
    <div id="main_popupContent" style="display:none;">
        <div id="main_popupInnerContent">
        </div>
    </div>
</div>

<div id="LoadingImage" style="display: none">
    <div id="ajax_fade" class="black_overlay"></div>
    <div id="ajax_light" class="ajax_image">
        <img src="~/images/truck_preloader.gif" height="80" />
    </div>
</div>
<script>
    $(function () {
        closeMainHTMLPopup();
        var loading = $("#LoadingImage");
        $(document).ajaxStart(function () {
            if($("#ajax_light")){
                $("#ajax_light").show()
            }
            if($("#ajax_fade")){
                $("#ajax_fade").show();
            }
            loading.show();
        });

        $(document).ajaxStop(function () {
            if($("#ajax_light")){
                $("#ajax_light").hide();
            }
            if($("#ajax_fade")){
                $("#ajax_fade").hide();
            }
            loading.hide();
        });
    });

    function OpenMainHTMLPopup(inputHTML, divToFill) {
        //$("#popupContent").html(inputHTML);
        if($("#main_light")){
            $("#main_light").show();
        }
        if($("#main_fade")){
            $("#main_fade").show();
        }
        $(divToFill).html(inputHTML);
        $(divToFill).show();
    }

    function closeMainHTMLPopup() {
        if($("#main_light")){
            $("#main_light").hide();
        }
        if($("#main_fade")){
            $("#main_fade").hide();
        }
    }
</script>