﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Transporter Unlimited</title>
    @Styles.Render("~/Content/newUIcss")
    @Scripts.Render("~/bundles/newUIjs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/TransporterCSS")
    @Styles.Render("~/Content/DropDownSpecialCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/TransporterJS")
    @*@Scripts.Render("~/Scripts/DropDownSpecialJS")*@
    @RenderSection("scripts", required: false)
    <script>
        var isLoggedInUser = "" + @ViewData["IsLoggedIn"];
        var logoutPage = "@Url.Action("DoLogout", "Home")";
    </script>
</head>
<body>
    <div class="page">
        <div class="pageheader">
            <header class="header-fixed">
                <div class="header-limiter">
                    <h1><a href="#">Fetch<span>MyGoods</span>.com</a></h1>
                    @*<h1><a href="#"><img src="~/images/Logo_2.JPG" width="150px" /></a></h1>*@
                    <nav>
                        <script>
                            PrintPageMenu();
                        </script>
                    </nav>
                </div>
            </header>
        </div>
        <div class="pagecontent">
            @RenderBody()
        </div>
        <div class="pagefooter">
            <small>&copy; @DateTime.Now.Year - Biserasoft Private Limited</small>
        </div>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeModal">&times;</span>
                <input type="hidden" value="" id="closeButtonRedirectURL" />
                <h2></h2>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>
    </div>

    <script>
        var span = document.getElementsByClassName("closeModal")[0];
        var popupModal = document.getElementById('myModal');
        span.onclick = function () {
            popupModal.style.display = "none";
            if($("#closeButtonRedirectURL").val() !== ""){
                var redirectURL = $("#closeButtonRedirectURL").val();
                $("#closeButtonRedirectURL").val("");
                window.location.href=redirectURL;
            }
        }
        $(document).ready(function(){
            var showHeaderAt = 150;
            var win = $(window),
                    body = $('body');
            // Show the fixed header only on larger screen devices
            if(win.width() > 600){
                // When we scroll more than 150px down, we set the
                // "fixed" class on the body element.
                win.on('scroll', function(e){
                    if(win.scrollTop() > showHeaderAt) {
                        body.addClass('fixed');
                    }
                    else {
                        body.removeClass('fixed');
                    }
                });
            }

        });


    </script>


</body>
</html>
