﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Transporter Unlimited</title>
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no">
    
    @Styles.Render("~/Content/newUIcss")
            @Scripts.Render("~/bundles/newUIjs")
            @Scripts.Render("~/Scripts/TransporterJS")

        <link href="~/Content/global.css" rel="stylesheet" media="all" />
    @RenderSection("scripts", required: false)
    <script>
        var isLoggedInUser = "" + @ViewData["IsLoggedIn"];
        var logoutPage = "@Url.Action("DoLogout", "Home")";
        

    function DoLogout(){
            window.location.href = logoutPage;
    }
    function ShowLoginscreen(){
        $("#exampleModal").show();
    }

    function HideLoginscreen(){
       $("#exampleModal").hide();
    }

    function ForgotPassword() {
        var username= $('#data-usernames').val();
        var EmailID= $('#data-EmailID').val();
        var secpasw=$('#data-Secretanswers').val();
        var SecurityQuestions=$('#SecurityQuestions').val();
        

        if((username=="") && (EmailID==""))
        {
            var text="please Enter LoginID or Registered EmalID"
            $("#loginError1").text(text);
            return;
        }
        if(secpasw=="")
            {
                var secpassord="please choose and provide the Security Answer"
                $("#loginError1").text(secpassord);
                return;
        }
        if (SecurityQuestions == "")
        {
            var data1 = "Please choose the Security Questions"
            $("#loginError1").text(data1);
        }
        else
        {
            $.ajax({
                type: "POST",
                url: '/Home/GetForgotPassword/',
                data: JSON.stringify({ username: username,EmailID:EmailID,secpasw:secpasw }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //alert(result);
                    var retrivepassword = result.Uservalidity;
                    var sucesslogin="FetchMyGoods Password has been send to your Registered EmailID"
                    if (retrivepassword == "Valid")
                    {
                        $("#loginError1").text(sucesslogin);
                    }
                    else
                    {
                        $("#loginError1").text(retrivepassword);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });
        }

        }

function DoLogin() {
            var username = $('#data-username').val();
            var password = $('#data-password').val();
            var redirectTo = "";
            if($('#data-password').val() != undefined){
                redirectTo =getUrlParameter('returnURL');
            }
            if(redirectTo == undefined){
                redirectTo = "";
            }
            console.log("Sign In clicked");
            $.ajax({
                type: "POST",
                url: '/Home/ValidateLogin/',
                data: JSON.stringify({ UserName: username, Password: password, RedirectURL: redirectTo}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                    GetUserGeoLogs();
                    window.location.href = data.redirectUrl;
                } else {
                    $("#loginError").text(data);
                }
            }
            function errorFunc(result) {
                LogAjaxError(result, true);
            }
}

function GetUserGeoLogs(){
//    https://api.ipdata.co?api-key=d78b0555f956eb937ef9a077e25af8b3ae334b43231af86e64a98565
    var request = new XMLHttpRequest();

    request.open('GET', 'https://api.ipdata.co/?api-key=d78b0555f956eb937ef9a077e25af8b3ae334b43231af86e64a98565');

    request.setRequestHeader('Accept', 'application/json');

    request.onreadystatechange = function () {
        if (this.readyState === 4) {
            console.log('Status:', this.status);
            console.log('Headers:', this.getAllResponseHeaders());
            console.log('Body:', this.responseText);
            //alert(this.responseText);
            var geoTags = this.responseText;
            $.ajax({
                type: "POST",
                url: '/Home/SetUserGeoLogs/',
                data: JSON.stringify({GeoTags: geoTags}),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        }
    };

    request.send();
}

    function RegisterMe() {
            $.ajax({
                type: "POST",
                url: '/Home/Register/',
                data: JSON.stringify(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                    window.location.href = data.redirectUrl;
                } else {
                    modalPopup.SetText('Login Error', '', data);
                }
            }
            function errorFunc(result) {
                LogAjaxError(result, true);

            }
        }

    function supportsImports() {
    return 'import' in document.createElement('link');
}

    function handleLoad(e) {
        console.log('Loaded import: ' + e.target.href);
    }

    function handleError(e) {
        console.log('Error loading import: ' + e.target.href);
    }
    
    </script>
</head>
<body class="home device-computer viewing-home fp-viewing-home">
    <div class="pace  pace-inactive">
        <div class="pace-progress">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="wrapper" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px);">
        <section class="home section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="images animate" style="height: 1021px; background-image:url(../../images/fetchmygoods_home_banner.jpg)">
                        <img src="../../images/fetchmygoods_home_banner.jpg" alt="">
                    </div>
                    <div class="home-stripes animate">
                        <div class="home-stripes-inner"></div>
                    </div>
                    <div class="home-pattern animate"></div>
                    <div class="heading animate">
                        <strong>
                            Delivery Unlimited<br>
                        </strong> <em>
                            <em>
                                Fast & Safe <br>
                                Transport<br>
                            </em>
                        </em>
                        <p>
                            FetchMyGoods.com bonds Agents and Transporters to transport goods from one place to another<br /> 
                            without any hassle and paves way to rapidly transport goods with ease. <br />
                            Agents and Transporters can easily post their Load and Truck availability to lessen the idle <br />
                            time of trucks and highly reduce empty trucks during return trips. 
                        </p>
                    </div>
                </div>
            </div>
            <header class="header">
                <h1 class="home animate hidden-xs"> <a href="#"> <img src="../../images/logo.png" width="184" height="53" class="deskLogo" alt="deskLogo"> </a> </h1>
                <nav>
                    <ul>
                    @if ((String)ViewData["IsLoggedIn"] != "true")
                    {
                        <li><a href="/Home/Dashboard">Home</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Dashboard">Dashboard</a></li>
                    }
                        <li><a href="#">About Us</a></li>
                        
                        @if ((String)ViewData["IsLoggedIn"] != "true")
                        {
                            <li><a href="#" data-toggle="modal" data-target="#exampleModal">Login</a></li>
                        }
                        else
                        {
                            <li><a href="#" data-toggle="modal" onclick="DoLogout();">Logout</a></li>
                        }
                        <li><a href="#" onclick="RegisterMe();">Registration</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
        </section>
        <section class="process section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="cnt animate">
                        <div class="swiper-container swiper-container-horizontal">
                            <div class="swiper-wrapper">
                                <article class="step step-1 swiper-slide swiper-slide-visible swiper-slide-active" data-step="1">
                                    <div class="container-fluid padding-15">
                                        <div class="col-md-2 hidden-xs hidden-768"> <img src="../../images/120x600_left.jpg" alt="" class=""> </div>
                                        <div class="col-md-4">
                                            <div class="info"> <img src="../../images/awards.png" alt="Step 1" class="img-responsive"> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="info">
                                                <h3>
                                                    <small>welcome to</small> fetch my<br>
                                                    <div class="txtRed">goods</div>
                                                    <span>.com</span>
                                                </h3>
                                                <p>FetchMyGoods.com provides customers with latest technological advances to ease the way of transporting goods to different locations and to deliver the status of the goods to the Agents and Transporters via SMS and E-mail. FetchMyGoods.com has a user-friendly User Interface to quickly post their availability, search their availability and connect to the corresponding parties without anyhardship. We provide Load Bookings and Truck postings only to the registered users.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 hidden-xs hidden-768">
                                            <div is="gwd-pagedeck" class="gwd-page-container gwd-pagedeck" id="pagedeck">
                                                <div is="gwd-page" id="page1" class="gwd-page-wrapper gwd-page-size gwd-lightbox gwd-page gwd-play-animation" data-gwd-width="160px" data-gwd-height="600px" style="">
                                                    <div class="gwd-page-content gwd-page-size">
                                                        <img is="gwd-image" source="bg02.jpg" id="Background" class="gwd-img-xklb" src="../../images/index_data_004/bg02.jpg"> <img is="gwd-image" source="cloude02blue.png" id="Cloud02" class="gwd-img-bgd8 gwd-gen-8z6hgwdanimation" src="../../images/index_data_004/cloude02blue.png"> <img is="gwd-image" source="cloude02.png" id="Cloud" class="gwd-img-w7kv gwd-gen-1e5vgwdanimation" src="../../images/index_data_004/cloude02.png"> <img is="gwd-image" source="logo02.png" id="Logo" class="gwd-img-k8oj" src="../../images/index_data_004/logo02.png">
                                                        <div class="gwd-div-9wpg" id="htmltext">
                                                            <div class="gwd-div-d1tf"><span class="gwd-span-652j">HTML5-based</span> </div>
                                                        </div>
                                                        <div class="gwd-div-tdq4" id="graphictext">
                                                            <div class="gwd-div-yn72"><span class="gwd-span-0b0f"><strong>graphics</strong></span> </div>
                                                        </div>
                                                        <div class="gwd-div-3vpj" id="Motiontext">
                                                            <div class="gwd-div-1roa"><span class="gwd-span-u8um">designs &amp; motion</span> </div>
                                                        </div>
                                                        <img is="gwd-image" source="device01.png" id="devicebig" class="gwd-img-fr24 gwd-gen-tza3gwdanimation" src="../../images/index_data_004/device01.png"> <img is="gwd-image" source="device02.png" id="Devicesmall" class="gwd-img-awru gwd-gen-pjgxgwdanimation" src="../../images/index_data_004/device02.png">
                                                        <div class="gwd-div-pulx" id="Ideatext">
                                                            <div class="gwd-div-9fcm"><span class="gwd-span-5tc5">One idea</span> </div>
                                                            <div class="gwd-div-wk2r"><span class="gwd-span-pkk1">Any screen</span> </div>
                                                        </div>
                                                        <gwd-taparea id="gwd-taparea_1" class="gwd-taparea-z4ad"></gwd-taparea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="container">
                        <div class="text">
                            <h2>
                                <small>our best</small>
                                <div class="txtRed">Services</div>
                            </h2>
                            <div class="cnt">
                                <article>
                                    <p>Fetchmygoods.com is an online application that helps in Goods transportation in both full and part load capacity. The offering can be utilized in an easy way through web and mobile compatible application which is loaded with large number of Transporters and Agents. We have strong network of qualified Transporters who can transport the freight in stipulated time.</p>
                                </article>
                            </div>
                        </div>
                        <div class="list">
                            <dl class="item-1 animate">
                                <dt> <span class="ico"> <img src="../../images/service-img-1.png" width="100" height="91" alt="" /> </span> <span class="ico ico-hover"> <img src="../../images/service-img-1-hover.png" width="100" height="91" alt="" /> </span> <strong> <span>Completed</span> </strong> </dt>
                            </dl>
                            <dl class="item-1 animate">
                                <dt><span class="ico"> <img src="../../images/service-img-2.png" width="100" height="91" alt="" /> </span> <span class="ico ico-hover"> <img src="../../images/service-img-2-hover.png" width="100" height="91" alt="" /> </span> <strong> <span>Satisfied Clients</span> </strong></dt>
                            </dl>
                            <dl class="item-1 animate">
                                <dt><span class="ico"> <img src="../../images/service-img-3.png" width="100" height="91" alt="" /> </span> <span class="ico ico-hover"> <img src="../../images/service-img-3-hover.png" width="100" height="91" alt="" /> </span> <strong> <span>On Time</span> </strong></dt>
                            </dl>
                            <dl class="item-1 animate">
                                <dt><span class="ico"> <img src="../../images/service-img-4.png" width="100" height="91" alt="" /> </span> <span class="ico ico-hover"> <img src="../../images/service-img-4-hover.png" width="100" height="91" alt="" /> </span> <strong> <span>Fast Delivery</span> </strong></dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="tp-support clearfix ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-12 clearfix tp-support-title">
                                                <h2>
                                                    <div class="tp-support-icon fa fa-mobile"></div>
                                                    FOR ANY HELP OR QUERIES
                                                </h2>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-12 tp-support-content">
                                                Call Us Now On <span class="number">044-22590979</span>
                                                <div class="tp-support-link"><a href="#" target="_blank">Contact Sales Team</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div id="footer-widgets" class="footer-widgets widgets-area">
                <div class="container">
                    <div class="row">
                        <div class="footer-sidebar col-xs-12 col-sm-6 col-md-3">
                            <div class="textwidget"><img src="../images/footer-logo.png" alt="logo-home" class="logo-home"></div>
                            <div id="text-11" class="widget widget_text">
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes and scrambled it to make. </p>
                            </div>
                            <div id="social-links-widget-2" class="widget social-links-widget social-links">
                                <h3>FOLLOW US</h3>
                                <a href="#" class="share-facebook tooltip-enable social" rel="nofollow" title="Facebook" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#" class="share-twitter tooltip-enable social" rel="nofollow" title="Twitter" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-twitter"></i></a> <a href="#" class="share-google-plus tooltip-enable social" rel="nofollow" title="Google Plus" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="#" class="share-linkedin tooltip-enable social" rel="nofollow" title="Linkedin" data-toggle="tooltip" data-placement="top" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="footer-sidebar col-xs-12 col-sm-6 col-md-3 col-xs-offset-1">
                            <div id="nav_menu-3" class="widget widget_nav_menu">
                                <h4 class="widget-title">USEFUL LINK</h4>
                                <div class="menu-footer-menu-useful-link-container">
                                    <ul id="menu-footer-menu-useful-link" class="menu">
                                        <li><a href="/Home/Dashboard">Home</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-sidebar col-xs-12 col-sm-6 col-md-4 col-xs-offset-1">
                            <div id="contact-widget-2" class="widget contact-widget">
                                <h4 class="widget-title">NEED HELP?</h4>
                                <ul class="contact-details">
                                    <li>
                                        <i class="fa fa-map-marker"></i>Perungudi, Chennai<br />
                                        &nbsp; &nbsp;  &nbsp; Tamil Nadu, India
                                    </li>
                                    <li><i class="fa fa-phone-square"></i>044-22590979</li>
                                    <li><i class="fa fa-envelope"></i><a href="mailto:info@fetchmygoods.com">info@fetchmygoods.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 col-sm-6 copyright-content"> © @DateTime.Now.Year by Fetch My Goods. All Rights Reserved.</div>
                        <div class="col-md-6 col-xs-12 col-sm-6 footer-menu clearfix">
                            <ul id="menu-footer-menu-primary" class="menu">
                                <li><a href="javascript:ShowStaticPagePopup('Disclaimer');">Disclaimer</a></li>
                                <li><a href="javascript:ShowStaticPagePopup('PrivacyPolicy');">Privacy Policy</a></li>
                                <li><a href="javascript:ShowStaticPagePopup('FAQ');">FAQ</a></li>
                                <li><a href="javascript:ShowStaticPagePopup('Support');">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="sticky-container"></div>
    <header class="header">
        <h1 class="home">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image xlink:href="../../images/fetchmygoods-logo-mobile.svg" />
                </svg>
            </a>
        </h1>
        <div class="container-fluid">
            <!-- Second navbar for categories -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Dashboard">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                            <li> <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1">Categories</a> </li>
                        </ul>
                        <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Graphic design</a></li>
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Motion</a></li>
                            <li><a href="#">Mobile apps</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.navbar -->
        </div>
        <!-- /.container-fluid -->

        <div id="page">
            <div id="header"> <a href="#menu"></a> </div>
            <nav id="menu">
                <ul>
                    @if ((String)ViewData["IsLoggedIn"] != "true")
                    {
                        <li><a href="/Home/Dashboard">Dashboard</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Dashboard">Home</a></li>
                    }                    
                    <li><a href="#">About us</a></li>
                    @if ((String)ViewData["IsLoggedIn"] != "true")
                    {
                        <li><a href="#" data-toggle="modal" data-target="#exampleModal">Login</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" onclick="DoLogout();">Logout</a></li>
                    }
                    <li><a href="#" onclick="RegisterMe();">Registration</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="../../images/avatar_2x.png" alt="profile-img-card" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" autocomplete="off">
                    
                    <span id="reauth-email" class="reauth-email"></span>
                    <span id="loginError" class="label-error">&nbsp;</span>
                    <input type="text" id="data-username" class="form-control" placeholder="User ID" autocomplete="off" required autofocus>
                    <input type="password" id="data-password" class="form-control" placeholder="Password" autocomplete="new-password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick="DoLogin(); return false;">Sign in</button>
                    <script>  $(document).ready(function () {$('#data-username').focus();});</script>
                    </form>
                <!-- /form -->
                <a href="#" data-toggle="modal" data-target="#exampleModal1" onclick="HideLoginscreen();">Forgot the password?</a>
                <div class="clearfix"></div>
               Don't have an account? <a href="#" class="forgot-password" onclick="RegisterMe();"> Register now </a>
            </div>
            <!-- /card-container -->
        </div>
    </div>


    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="card card-container">
              <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <span id="loginError1" class="label-error">&nbsp;</span>
                  <p> </p>
                  <p> Enter LoginID :</p>
                    <input type="text" id="data-usernames" class="form-control" placeholder="Login ID " required autofocus>
                  <p> OR </p>
                  <p> Enter your Registered EmailID :</p>
                  <input type="text" id="data-EmailID" class="form-control" placeholder="Email ID " required autofocus>
                  @*@Html.DropDownListFor(m => m.SecretQuestion, new SelectList(Model.SecretQuestion, "SecretQuestionID", "SecretQuestionText"), "Select Security Questions", new { @class = "form-control", @placeholder = "Enter security questions" })*@
                 @Html.DropDownList("SecurityQuestions", new List<SelectListItem>
                    {
                    new SelectListItem{Text="what is your first car",Value="1"},
                    new SelectListItem{Text="Who is your childhood hero",Value="0"},
                    }, "Please choose the Security Questions",new { @class = "form-control" })
                 <p> </p>
                 <input type="text" id="data-Secretanswers" class="form-control" placeholder="Secret Answers " required autofocus>
                   <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick="ForgotPassword(); return false;">Get Password</button>
                  <a href="#" data-toggle="modal" data-target="#exampleModal1" onclick="ShowLoginscreen();">Back to login</a>
                  
                </form>
                <!-- /form -->
            </div>
            <!-- /card-container -->
        </div>
    </div>

    @RenderBody();
    <script type="text/javascript">       
			$(function() {
				$('nav#menu').mmenu({
					slidingSubmenus: false
				});				
			});

    </script>
    @Html.Partial("_DivPopup")
</body>
</html>
