﻿@using TransporterModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Transporter Unlimited</title>
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no">
    @Styles.Render("~/Content/newUIcss")
    @Scripts.Render("~/bundles/newUIjs")
    @Scripts.Render("~/Scripts/TransporterJS")
    <link href="~/Content/global.css" rel="stylesheet" media="all" />
    <link href="~/Content/ModalPopup.css" rel="stylesheet" media="all" />

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="../Scripts/auto-complete.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var isLoggedInUser = "" + @ViewData["IsLoggedIn"];
        var logoutPage = "@Url.Action("DoLogout", "Home")";
    </script>
</head>
<body class="device-computer viewing-home fp-viewing-home">

    <div id="wrapper" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px);">
        <!--Page Menu-->
        <section class="services section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <nav class="navbar navbar-inverse navbar-fixed-top  hidden-xs">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="index.html" id="logo"><img src="../images/logo.png" alt="" class="innerdeskLogo" /></a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav pull-right">
                                    <li><a href='@Url.Action("Index", "Subscription")'>Subscrition</a></li>
                                    <li><a href='@Url.Action("Main", "Home")'>Home</a></li>
                                    <li><a href='@Url.Action("Dashboard", "Home")'>Dashboard</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">Search <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href='@Url.Action("Search", "Booking")'>Search Booking</a></li>
                                            <li><a href='@Url.Action("Search", "Posting")'>Search Posting</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">Create <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            @if (((User)Session["User"])?.UserTypeID.ToString() == "1" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
                                            {
                                                <li>
                                                    <a href='@Url.Action("Create", "Booking")'>Create Load Booking</a>
                                                </li>
                                            }
                                            @if (((User)Session["User"])?.UserTypeID.ToString() == "2" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
                                            {
                                                <li><a href='@Url.Action("Create", "Posting")'>Create Truck Posting</a></li>
                                            }
                                        </ul>
                                    </li>
    
                                        <li><a href='@Url.Action("Index", "Tracking")'>Tracking</a></li>
                                        @if (ViewData["IsLoggedIn"] != null)
                                    {
                                                    if (ViewData["IsLoggedIn"].ToString().ToUpper() == "TRUE")
                                                    {
                                            <li class="dropdown">
                                                <a href="#" class="profile waves-effect waves-light dropdown-toggle" data-toggle="dropdown">
                                                    My Profile
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#"><i class="fa fa-user-circle-o"></i>@Html.Raw((((User)Session["User"]).FirstName.ToString())) 's Profile</a></li>
                                                    @*<li><a href="#"><i class="fa fa-envelope-o"></i>Message</a></li>
                                                    <li><a href="#"><i class="fa fa-gear"></i>Settings</a></li>*@
                                                    @if (((User)Session["User"])?.UserTypeID.ToString() == "2" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
                                                    {
                                                        <li><a href='@Url.Action("ManageDrivers", "Driver")'><i class="fa fa-truck"></i>Manage Drivers</a></li>
                                                    }
                                                    @*<li><a href='@Url.Action("Help", "Home")'><i class="fa fa-question-circle"></i>Help</a></li>*@
                                                    <li><a href='@Url.Action("DoLogout", "Home")'><i class="fa fa-sign-out"></i>Logout</a></li>
                                                </ul>
                                            </li>
                                                if (Session["UserReportMenu"] != null)
                                                {
                                                    var UserReportPageMenu = (List<ReportsPageMenu>)Session["UserReportMenu"];
                                                    if (UserReportPageMenu.Count > 0)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle">User Reports <span class="caret"></span></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                @for (int i = 0; i < UserReportPageMenu.Count; i++)
                                                                {
                                                                    <li><a href='@Url.Action("GetAReport", "AdminReports", new { reportName = UserReportPageMenu[i].ReportName })'>@UserReportPageMenu[i].ReportName.ToString()</a></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                                if (Session["AdminReportMenu"] != null)
                                                {
                                                    var ReportPageMenu = (List<ReportsPageMenu>)Session["AdminReportMenu"];
                                                    if (ReportPageMenu.Count > 0)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle">Admin Reports <span class="caret"></span></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                @for (int i = 0; i < ReportPageMenu.Count; i++)
                                                                {
                                                                    <li><a href='@Url.Action("GetAReport", "AdminReports", new { reportName = ReportPageMenu[i].ReportName })'>@ReportPageMenu[i].ReportName.ToString()</a></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                }
                                            }
                                        }
                                    }                                    
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </section>

        @RenderBody()

    </div>
    <footer>
        @*@ViewData["ClientIP"].ToString()
        @ViewData["UserEnvironment"].ToString()*@
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="wpb_row vc_row-fluid vc_row-no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="wpb_wrapper">
                        <div class="tp-support innerfooter-left">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 clearfix tp-innerfooter-title">
                                        <h2> <i class="tp-support-icon fa fa-mobile"></i> FOR ANY HELP OR QUERIES </h2>
                                        <span> Call Us Now On : 044-22590979</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 innerfooter-copy"> © @DateTime.Now.Year by <a href="#">Fetch My Goods.com</a>. All Rights Reserved. &nbsp; &nbsp;
                                        <span><a href="javascript:ShowStaticPagePopup('Disclaimer');">Disclaimer |</a></span>
                                        <span><a href="javascript:ShowStaticPagePopup('PrivacyPolicy');">Privacy Policy |</a></span>
                                        <span><a href="javascript:ShowStaticPagePopup('FAQ');">FAQ |</a></span>
                                        <span><a href="javascript:ShowStaticPagePopup('Support');">Support</a></span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <header class="header">
        <h1 class="home">
            <a href="#">
                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <image xlink:href="../images/fetchmygoods-logo-mobile.svg"/>
                </svg>-->
                <img src="../images/logo-mob.png" class="logo-mob" />
            </a>
        </h1>

        <!-- /.container-fluid -->
        <div id="page">
            <div id="header"> <a href="#menu"></a> </div>
            <nav id="menu">
                <ul>
    <li><a href='@Url.Action("Main", "Home")'>Home</a></li>
    <li><a href='@Url.Action("Index", "Subscription")'>Subscrition</a></li>
    <li>
        <a href="#"> Search </a>
        <ul role="menu">
            <li><a href='@Url.Action("Search", "Posting")'> Posting</a></li>
            <li><a href='@Url.Action("Search", "Booking")'> Booking</a></li>
        </ul>
    </li>
    <li>
        <a href="#"> Create </a>
        <ul role="menu">
            @if (((User)Session["User"])?.UserTypeID.ToString() == "1" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
            {
                <li>
                    <a href='@Url.Action("Create", "Booking")'>Create Load Booking</a>
                </li>
            }
            @if (((User)Session["User"])?.UserTypeID.ToString() == "2" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
            {
                <li><a href='@Url.Action("Create", "Posting")'>Create Truck Posting</a></li>
            }
        </ul>
    </li>
    <li><a href='@Url.Action("Index", "Tracking")'>Tracking</a></li>

    @if (ViewData["IsLoggedIn"] != null)
    {
        if (ViewData["IsLoggedIn"].ToString().ToUpper() == "TRUE")
        {

            <li>
                <a href="#" class="profile waves-effect waves-light">
                    My Profile
                </a>
                <ul role="menu">
                    <li><a href="#"><i class="fa fa-user-circle-o"></i> @Html.Raw((((User)Session["User"]).FirstName.ToString())) 's Profile</a></li>
                    @*<li><a href="#"><i class="fa fa-envelope-o"></i>Message</a></li>
                        <li><a href="#"><i class="fa fa-gear"></i>Settings</a></li>*@
                    @if (((User)Session["User"])?.UserTypeID.ToString() == "2" || ((User)Session["User"])?.UserTypeID.ToString() == "3" || ((User)Session["User"])?.UserTypeID.ToString() == "4")
                    {
                        <li><a href='@Url.Action("ManageDrivers", "Driver")'><i class="fa fa-truck"></i> Manage Drivers</a></li>
                    }
                    @*<li><a href='@Url.Action("Help", "Home")'><i class="fa fa-question-circle"></i>Help</a></li>*@
                    <li><a href='@Url.Action("DoLogout", "Home")'><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
            if (Session["UserReportMenu"] != null)
            {
                var UserReportPageMenu = (List<ReportsPageMenu>)Session["UserReportMenu"];
                if (UserReportPageMenu.Count > 0)
                {
                    <li>
                        <a href="#" class="profile waves-effect waves-light">User Reports</a>
                        <ul role="menu">
                            @for (int i = 0; i < UserReportPageMenu.Count; i++)
                            {
                                <li><a href='@Url.Action("GetAReport", "AdminReports", new { reportName = UserReportPageMenu[i].ReportName })'><i class="fa fa-dashboard"></i> @UserReportPageMenu[i].ReportName.ToString()</a></li>
                            }
                        </ul>
                    </li>
                }
            }

            if (Session["AdminReportMenu"] != null)
            {
                var ReportPageMenu = (List<ReportsPageMenu>)Session["AdminReportMenu"];
                if (ReportPageMenu.Count > 0)
                {
                    <li>
                        <a href="#">Admin Reports</a>
                        <ul role="menu">
                            @for (int i = 0; i < ReportPageMenu.Count; i++)
                            {
                                <li><a href='@Url.Action("GetAReport", "AdminReports", new { reportName = ReportPageMenu[i].ReportName })'><i class="fa fa-dashboard"></i> @ReportPageMenu[i].ReportName.ToString()</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        }
    }

        <li><a href="#"> About us </a></li>
        <li><a href="#"> Contact us </a></li>
                    <li><a href='@Url.Action("DoLogout", "Home")'> Logout </a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeModal">&times;</span>
                <input type="hidden" value="" id="closeButtonRedirectURL" />
                <h2></h2>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
        var span = document.getElementsByClassName("closeModal")[0];
        var popupModal = document.getElementById('myModal');

        span.onclick = function () {
            popupModal.style.display = "none";
            if($("#closeButtonRedirectURL").val() !== ""){
                var redirectURL = $("#closeButtonRedirectURL").val();
                $("#closeButtonRedirectURL").val("");
                window.location.href=redirectURL;
            }
        }

			$(function() {
				$('nav#menu').mmenu({
					slidingSubmenus: false
				});

				$('.input-group.date').datepicker({
				    calendarWeeks: true,
				    todayHighlight: true,
				    autoclose: true,
				    format: 'd-M-yyyy'
				});
			});

        $(document).ready(function(){
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });


    </script>
    @Html.Partial("_DivPopup")
</body>

</html>
