﻿@model TransporterModel.UserSubscription
@{
    ViewBag.Title = "Subscription Info";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<script src="https://js.instamojo.com/v1/button.js"></script>
<section class="section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="container">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 innerHeader">
                        <!--<h4>Dashboard</h4>-->
                        <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>Subscription Plans<i class="fa fa-ban rightsrew"></i></span>  </div>
                        <hr>
                        <div class="card searchCard">
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label text-right">Subscription Start Date:</label>
                                        <div class="input-group">
                                            
                                            @Html.DisplayFor(m=>m.StartDate, new { @class = "form-control", @id = "lblGoodsWeight" }) &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label text-right">Subscription End Date:</label>
                                        <div class="input-group">
                                            
                                            @Html.DisplayFor(m => m.EndDate, new { @class = "form-control", @id = "lblGoodsWeight" }) &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-4 col-form-label text-right">Subscription Type:</label>
                                        <div class="input-group">
                                            
                                            @Html.DisplayFor(m => m.Type, new { @class = "form-control", @id = "lblGoodsWeight" }) &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group row">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group row">
                                        <div class="form-group row">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("PaymentHistory", "Subscription")';">Payment History</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <div class="card-block table-border-style">
                                            <div id="responsive-tbl">
                                                <table id="MyTable">
                                                    <thead>
                                                        <tr>
                                                            <th data-label="Usage Type">Usage Type</th>
                                                            <th data-label="Per Month">Per Month</th>
                                                            <th data-label="Per Year">Per Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td data-label="Usage Type">
                                                                As Transporter
                                                            </td>
                                                            <td data-label="Per Month">
                                                                <table id="MyTable1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="Start Date">StartDate</th>
                                                                            <th data-label="End Date">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddMonths(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(1,2);">Pay 1000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td data-label="Per Year">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="BookingID">StartDate</th>
                                                                            <th data-label="BookingID">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddYears(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(12,2);">Pay 10,000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td data-label="Usage Type">
                                                                As Agent
                                                            </td>
                                                            <td data-label="Per Month">
                                                                <table id="MyTable1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="Start Date">StartDate</th>
                                                                            <th data-label="End Date">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddMonths(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(1,1);">Pay 1000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td data-label="Per Year">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="BookingID">StartDate</th>
                                                                            <th data-label="BookingID">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddYears(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(12,1);">Pay 10,000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td data-label="Usage Type">
                                                                As Agent and Transporter
                                                            </td>
                                                            <td data-label="Per Month">
                                                                <table id="MyTable1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="Start Date">StartDate</th>
                                                                            <th data-label="End Date">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddMonths(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(1,4);">Pay 1000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td data-label="Per Year">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-label="BookingID">StartDate</th>
                                                                            <th data-label="BookingID">End Date</th>
                                                                            <th data-label="Fees">Fees</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td data-label="Start Date">@DateTime.UtcNow.Date.ToString("dd-MMM-yyyy")</td>
                                                                            <td data-label="End Date">@DateTime.UtcNow.Date.AddYears(1).ToString("dd-MMM-yyyy")</td>
                                                                            <td width="200px" data-label="Fees"><button type="button" class="btn btn-card" onclick="javascript:InitiatePayment(12,4);">Pay 10,000 Rs</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function InitiatePayment(memberDuration, memberType) {
        var inData = JSON.stringify({ Duration: memberDuration, Type: memberType });
        //alert(inData);
        $.ajax({
            type: "POST",
            url: "/Subscription/InitPayment",
            data: inData,
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                modalPopup.SetText('Payment initiation', '', result.Message, result.RedirectURL);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
    }
</script>
