﻿`@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@model TransporterModel.UserPaymentHistory

@using (Html.BeginForm("PaymentHistory", "Subscription", FormMethod.Post))
{
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>User Payment History<i class="fa fa-ban rightsrew"></i></span>  </div>
                            <hr>
                            <div class="card searchCard">
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">User Name:</label>
                                            <div class="input-group">
                                                @Html.DisplayFor(m => m.UserName, new { @class = "form-control", @id = "lblUserName" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Last Payment On:</label>
                                            <div class="input-group">
                                                @Html.DisplayFor(m => m.LastPaymentAttemptedOn, new { @class = "form-control", @id = "lblLastPaymentOn" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Member Since:</label>
                                            <div class="input-group">
                                                @Html.DisplayFor(m => m.MemberSince, new { @class = "form-control", @id = "lblMemSince" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Member Status:</label>
                                            <div class="input-group">
                                                @Html.DisplayFor(m => m.MemberStatus, new { @class = "form-control", @id = "lblMemStatus" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" onclick="window.location.href = '@Url.Action("Index", "Subscription")';">Back to Subscription</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section fp-section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card margin-top-5">
                                <h5>Payment details: </h5>
                                <div class="card-block table-border-style">
                                    <div id="responsive-tbl">
                                        <table id="MyTable">
                                            <thead>
                                                <tr>
                                                    <th data-label="TransactionID">TransactionID</th>
                                                    <th data-label="InitiatedOn">Transaction Date</th>
                                                    <th data-label="AcknowledgementOn">Acknowledgement ReceivedOn</th>
                                                    <th data-label="PaymentStatus">Payment Status</th>
                                                    <th data-label="PaymentAmount">Amount</th>
                                                    <th data-label="CurrentExpiryDate">CurrentExpiryDate</th>
                                                    <th data-label="RequestingExpiryDate">RequestingExpiryDate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.PaymentDetails.Count > 0)
                                                {
                                                    for (var i = 0; i < Model.PaymentDetails.Count; i++)
                                                    {
                                                        var paymentData = Model.PaymentDetails[i];
                                                        <tr>
                                                            <td data-label="TransactionID"><a href='/Booking/Edit?bookingId=@paymentData.ExtTransactionID' class="customLink">@paymentData.ExtTransactionID</a></td>
                                                            <td data-label="InitiatedOn">@paymentData.InitiatedOn</td>
                                                            <td data-label="AcknowledgementOn">@paymentData.PaymentAcknowledgementReceivedOn</td>
                                                            <td data-label="PaymentStatus">@paymentData.PaymentStatusName</td>
                                                            <td data-label="PaymentAmount">@paymentData.PaymentAmount</td>
                                                            <td data-label="CurrentExpiryDate">@paymentData.CurrentExpiryDate</td>
                                                            <td data-label="RequestingExpiryDate">@paymentData.RequestedExpiryDate</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}