﻿
@{
    ViewBag.Title = "Payment Acknowledgement";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<section class="section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="container">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 innerHeader">
                        <!--<h4>Dashboard</h4>-->
                        <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i>Payment Acknowledgement<i class="fa fa-ban rightsrew"></i></span>  </div>
                        <hr>
                        <div class="card searchCard">
                            <div class="col-md-12">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-12 col-form-label text-left">Thank you for your payment initiation!! </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-12 col-form-label text-left">It is normal to take 2 -3 business days for the payment to reflect in our site. We will however notify you via SMS and email once we have a payment confirmation</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



