﻿
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Predefined Symbols (Marker)</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
      <script src="Scripts/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    
     <script>
      // This example uses a symbol to add a vector-based icon to a marker.
      // The symbol uses one of the predefined vector paths ('CIRCLE') supplied by the
        // Google Maps JavaScript API.
        //var tripData = [{
        //    lat: 13.0827, // Chennai
        //    lng: 80.2707
        //}, {
        //    lat: 11.20, // Erode
        //    lng: 77.46
        //}, {
        //    lat: 10.79050, // Trichy
        //    lng: 78.70470
        //}, {
        //    lat: 9.58, // Madurai
        //    lng: 78.10
        //}, {
        //    lat: 8.0883, // Kanniyakumari
        //    lng: 77.5385
        //}, {
        //    lat: 8.5241, // Thiruvananthapuram
        //    lng: 76.9366
         //}];

         var tripData = [{
             lat: 13.0827, // Chennai
             lng: 80.2707
         }, {
                 lat: 8.5241, // Thiruvananthapuram
                 lng: 76.9366
             }];

         //var trackingData = [{
         //        lat: 13.0827, // chennai
         //        lng: 80.2707,
         //        msg: "test123"
         //}];

        var trackingData = [{
            lat: 13.0827, // chennai
            lng: 80.2707,
            msg: "test123"
        }, {
            lat: 11.20, // Erode
            lng: 77.46,
            msg: "test456"
        }, {
            lat: 10.79050, // Trichy
            lng: 78.70470,
            msg: "test789"
         }];
        //var trackingData = [];

        console.log('tripData[]: ', "background: blue; color: black; padding-left:10px;");
        tripData.forEach(function (s) {
            console.log(s);
        });

        console.log('trackingData[]: ', "background: blue; color: black; padding-left:10px;");
        trackingData.forEach(function (s) {
            console.log(s);
        });
        

        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer();
            var start = new google.maps.LatLng(tripData[0].lat, tripData[0].lng);
            var end = new google.maps.LatLng(tripData[tripData.length-1].lat, tripData[tripData.length-1].lng);
            
            var mapOptions = {
                zoom: 3,
                center: start
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            directionsDisplay.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsDisplay);
            //calcRoute();
            var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/'; //'https://www.fetchmygoods.com/images/';
            var icons = {
                parking: {
                    icon: iconBase + 'parking_lot_maps.png'
                },
                library: {
                    icon: iconBase + 'library_maps.png'
                },
                info: {
                    icon: iconBase + 'info-i_maps.png'
                }
            };

            //features.forEach(function (feature) {
            //    var marker = new google.maps.Marker({
            //        position: feature.position,
            //        icon: icons[feature.type].icon,
            //        map: map
            //    });
            //});


            // The below segment of code is for drawing a dotted line from start to destination wtih all the waypoints included:
            // Define a symbol using SVG path notation, with an opacity of 1.
            if (trackingData != null) {
                if (trackingData.length > 0) {

                    var features = [];
                    $.each(trackingData, function (key, CoOrdinates) {
                        features.push({
                            position: new google.maps.LatLng(CoOrdinates.lat, CoOrdinates.lng),
                            type: 'info'
                        });
                    });

                    //  var features = [
                    //{
                    //    position: new google.maps.LatLng(13.0827, 80.2707),
                    //    type: 'parking'
                    //},
                    //{
                    //    position: new google.maps.LatLng(11.20, 77.46),
                    //    type: 'parking'
                    //},
                    //{
                    //    position: new google.maps.LatLng(8.0883, 77.5385),
                    //    type: 'parking'
                    //}
                    //  ];

                    var infowindow = new google.maps.InfoWindow({
                        content: 'Hello World!',
                        map: map
                    });

                    //var Currentmarker = new google.maps.Marker({
                    //    position: features[features.length - 1].position,
                    //    icon: icons['parking'].icon,
                    //    map: map
                    //});

                    var marker, i;

                    for (i = 0; i < trackingData.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(trackingData[i].lat, trackingData[i].lng),
                            map: map,
                            icon: icons[features[features.length - 1].type].icon,
                        });

                        google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                            return function () {
                                infowindow.setContent(trackingData[i].msg);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                        google.maps.event.addListener(marker, 'mouseout', (function (marker, i) {
                            return function () {
                                infowindow.close();
                            }
                        })(marker, i));
                    }

                   

                    var lineSymbol = {
                        path: 'M 0,-1 0,1',
                        strokeOpacity: 1,
                        scale: 4
                    };

                    // Create the polyline, passing the symbol in the 'icons' property.
                    // Give the line an opacity of 0.
                    // Repeat the symbol at intervals of 20 pixels to create the dashed effect.
                    var line = new google.maps.Polyline({
                        path: trackingData, //[{ lat: 13.0827, lng: 80.2707 }, { lat: 11.20, lng: 77.46 }, { lat: 8.0883, lng: 77.5385 }],
                        strokeOpacity: 0,
                        icons: [{
                            icon: lineSymbol,
                            offset: '0',
                            repeat: '30px'
                        }],
                        map: map
                    });
                }
            }
            
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            var selectedMode = "DRIVING"; //document.getElementById('mode').value;
            var waypts = [];
            for (var i = 1; i < tripData.length-1; i++) {
                waypts.push({
                    location: new google.maps.LatLng(tripData[i].lat, tripData[i].lng),
                    stopover: false
                });
            }

            var request = {
                origin: new google.maps.LatLng(tripData[0].lat, tripData[0].lng),
                destination: new google.maps.LatLng(tripData[tripData.length - 1].lat, tripData[tripData.length - 1].lng),
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    var summaryPanel = document.getElementById("directions_panel");
                    summaryPanel.innerHTML = "";
                    // For each route, display summary information.
                    for (var i = 0; i < route.legs.length; i++) {
                        var routeSegment = i + 1;
                        summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
                        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
                        summaryPanel.innerHTML += route.legs[i].end_address + "<br />";
                        summaryPanel.innerHTML += route.legs[i].distance.text + "<br /><br />";
                    }
                } else {
                    alert("directions response " + status);
                }
            });
        }
        
    </script>
      
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5oZ_wJYhvvQRhwNOVEUTohDnPTYyOXuA&callback=initMap">
    </script>
    <style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<div class="google-maps" id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
      <div id="directions_panel"></div>
  </body>
</html>