﻿@model TransporterModel.DriverDetailsPage
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "ManageDriver" })) {
<section class="section fp-section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="wrap">
            <div class="container">
                <div class="codepen-wrapper cpd-wrapper">
                    <span class="create-post-details">
                        Add / Edit Driver
                    </span>
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Transporter Name:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <span class="PageLabel" id="lblTransporterName">
                                    @Html.DisplayFor(m => m.DriverInfo.TransporterName, new { @class = "form-control", @id = "lblTransporterName" })
                                    @Html.HiddenFor(m => m.DriverInfo.TransporterID, new { @id = "hdnTransporterID" })
                                    @Html.TextBox("hdnStateID", Model.DriverInfo.TransporterName, new { @class = "form-control", @visibility = "hidden", @style = "display:none" })
                                    @Html.TextBox("hdnCityID", Model.DriverInfo.TransporterName, new { @class = "form-control", @visibility = "hidden", @style = "display:none" })                                        
                                </span>                                    
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            @if (!ViewBag.CreateMode)
                            {
                                <label for="example-text-input" class="col-md-4 col-form-label text-right">DriverID:</label>
                                <span class="PageLabel" id="lblDriverID">
                                    @Html.DisplayFor(m => m.DriverInfo.DriverID, new { @class = "form-control", @id = "lblDriverID" })
                                    @Html.TextBox("hdnDriverID", Model.DriverInfo.DriverID, new { @class = "form-control", @visibility = "hidden", @style = "display:none" })
                                </span>
                            }
                            else
                            {
                                <span class="PageLabel">&nbsp;</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Driver FirstName:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                    @Html.TextBox("txtFirstName", Model.DriverInfo.FirstName, new { @class = "form-control", @placeholder = "Enter Firstname", @maxlength = 50 })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Driver LastName:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                    @Html.TextBox("txtLastName", Model.DriverInfo.LastName, new { @class = "form-control", @placeholder = "Enter Lastname", @maxlength = 50 })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Mobilenumber:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                    @if (ViewBag.CreateMode)
                                    {
                                        @Html.TextBox("txtMobileNumber", Model.DriverInfo.MobileNumber, new { @class = "form-control", @placeholder = "Enter Mobilenumber", @Value = "", @maxlength = 10 })
                                    }
                                    else
                                    {
                                        @Html.TextBox("txtMobileNumber", Model.DriverInfo.MobileNumber, new { @class = "form-control", @placeholder = "Enter Mobilenumber", @maxlength = 10 })
                                    }
                                        
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Driverlicense:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-drivers-license"></i></span>
                                    @Html.TextBox("txtLicenseNumber", Model.DriverInfo.LicenseNumber, new { @class = "form-control", @placeholder = "Enter Driver license", @maxlength = 20 })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Address1:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                                    @Html.TextBox("txtAddress1", Model.DriverInfo.Address1, new { @class = "form-control", @placeholder = "Enter Address1", @maxlength = 100 })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Address2:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                                    @Html.TextBox("txtAddress2", Model.DriverInfo.Address2, new { @class = "form-control", @placeholder = "Enter Address2", @maxlength = 100 })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Country:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-area-chart"></i></span>
                                    @Html.DropDownListFor(m => m.DriverInfo.CountryID, new SelectList(Model.Country, "CountryID", "CountryName"), "Select Country", new { @class = "form-control", @id = "ddlCountry", @name = "ddlCountry" })    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">State:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-area-chart"></i></span>
                                    @if (ViewBag.CreateMode)
                                    {
                                        <Select id="ddlState" class="form-control"><option>Select State</option></Select>
                                        <Select style="display:none" class="form-control" id="StateID"></Select>
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.DriverInfo.StateID, new SelectList(Model.State, "StateID", "StateName"), "Select State", new { @class = "form-control", @id = "ddlState", @name = "ddlState" })
                                    }
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">City:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-area-chart"></i></span>
                                    @if (ViewBag.CreateMode)
                                    {
                                        <Select id="ddlCity" class="form-control"><option>Select District/City</option></Select>
                                        <Select style="display:none" id="Cityid" class="form-control"></Select>
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.DriverInfo.CityID, new SelectList(Model.City, "CityID", "CityName"), "Select City", new { @class = "form-control", @id = "ddlCity", @name = "ddlCity" })
                                    }                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Pincode:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="input-group-addon"><i class="fa fa-area-chart"></i></span>
                                    @if (ViewBag.CreateMode)
                                    {
                                        @Html.TextBox("txtPincode", Model.DriverInfo.PinCode, new { @class = "form-control", @placeholder = "Enter Pincode", @Value = "", @maxlength = 8, @type = "number", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  })
                                    }
                                    else
                                    {
                                        @Html.TextBox("txtPincode", Model.DriverInfo.PinCode, new { @class = "form-control", @placeholder = "Enter Pincode", @maxlength = 8, @type = "number", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                    }                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Clear Mobile AppID?</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    @Html.CheckBox("chkClearAppID", Model.DriverInfo.ClearAppID, new { id = "chkClearAppID", @checked = @Model.DriverInfo.ClearAppID })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">                                
                            <label for="example-text-input" class="col-md-4 col-form-label text-right">Transporter Code:</label>
                            <div class="input-group col-md-8 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <span class="PageLabel" id="lblDriverID">
                                        @Html.DisplayFor(m => m.DriverInfo.TransporterID, new { @class = "form-control", @id = "lblTransporterID" })
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <div class="input-group col-md-4 cpd-group">
                                <div class="input-group col-md-8 cpd-group">
                                    <button type='button' class='btn btn-success' onclick='SaveDriverInfo();'><i class='fa fa-plus'></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#ddlCountry").change(function () {
            var CountryText = $(this).find("option:selected").text();
            var CountryID = $(this).val();
            if (CountryText == "Select Country") {
                var data = "Please Select the Country"
                modalPopup.SetText('Login Error', '', data);
                $("#ddlCountry").focus();
            }
            else {
                $('#ddlState').empty();
                $('#StateID').empty();
                $('#ddlCity').empty();
                var SearchUrl = '/Registration/GetStateDetails';

                $.ajax({
                    url: SearchUrl,
                    type: 'POST',
                    cache: false,
                    data: { CountryID: CountryID },
                    dataType: 'json',
                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var opt = new Option(data[i].StateName, data[i].StateID);
                            $('#StateID').append(opt);
                            $('#ddlState').append(opt);
                        }
                        //return json;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });

            }
        });
    });

    $(function () {
        $("#ddlState").change(function () {
            var StateText = $(this).find("option:selected").text();
            var StateID = $(this).val();
            //alert("Selected Text: " + StateText + " Value: " + StateID);
            $('#ddlCity').empty();
            $('#Cityid').empty();
            var SearchUrl = '/Registration/GetCityDetails';

            $.ajax({
                url: SearchUrl, //'../api/Generic/FilterCities/',
                type: 'POST',
                cache: false,
                data: { StateID: StateID },
                dataType: 'json',
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        //console.log(data[i].CityName);
                        //console.log(data[i].CityID);
                        var opt = new Option(data[i].CityName, data[i].CityID);
                        $('#Cityid').append(opt);
                        $('#ddlCity').append(opt);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });

        });
    });

</script>
}