﻿
@{
    ViewBag.Title = "ManageDrivers";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.AllDriverDetails
@using TransporterModel;
<style>

    html{
  height: 100%;
}
body {
  min-height: 100%;
}
</style>
<section class="section fp-section fp-table animateOut animateIn">
    <div class="fp-tableCell">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 innerHeader">
                        <div class="codepen-wrapper cpd-wrapper">
                            <span class="create-post-details">
                                <i class="fa fa-ban leftsrew"></i>Manage Driver details
                                <i class="fa fa-ban rightsrew"></i>
                            </span>
                        </div>
                        <hr />
                        <div class="card margin-top-5">
                            <h5>Manage your truck driver(s) info : </h5>
                            <div class="card-block table-border-style">
                                <div id="responsive-tbl">
                                    <table id="MyTable">
                                        <thead>
                                            <tr>
                                                <th data-label="DriverID">DriverID</th>
                                                <th data-label="DriverName">Driver Name</th>
                                                <th data-label="MobileNumber">Mobile Number</th>
                                                <th data-label="Past Trips"></th>
                                                <th data-label="Future Trips"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DriversInfo.Count > 0)
                                            {
                                                for (int i = 0; i < Model.DriversInfo.Count; i++)
                                                {
                                                    <tr>
                                                        <td data-label="DriverID"><a href="javascript:EditDriver(@Model.DriversInfo[i].DriverID);">@Model.DriversInfo[i].DriverID</a></td>
                                                        <td data-label="DriverName"><a href="javascript:EditDriver(@Model.DriversInfo[i].DriverID);">@Model.DriversInfo[i].FirstName  @Model.DriversInfo[i].LastName</a></td>
                                                        <td data-label="MobileNumber">@Model.DriversInfo[i].MobileNumber</td>
                                                        <td data-label="Past Trips"><a href="javascript:ViewPastTrips();">View Past trips</a></td>
                                                        <td data-label="Future Trips"><a href="javascript:ViewFutureTrips();">View Future trips</a></td>
                                                    </tr>
                                                }
                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group row">
                                <div class="input-group col-md-8">
                                    <button type="button" class="btn btn-success" onclick="AddDriver();"><i class="fa fa-plus"></i> Add Driver</button> &nbsp;
                                    @if (ViewBag.ReturnURL != null)
                                    {
                                        <button type="button" class="btn btn-success" onclick="window.location.href='@ViewBag.ReturnURL'"><i class="fa fa-backward"></i> Go Back</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group row">
                            &nbsp;
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<div style="display:none">
    <div id="AddDriver">
        
    </div>

</div>

<script>

    function AddDriver() {        
        $.ajax({
            //data: { DriverID: selectedVal },
            datatype: "text/plain",
            type: "GET",
            url: '/Driver/AddDriver',
            cache: false,
            success: function (data) {
                $("#main_popupContent").html(data);
                OpenMainHTMLPopup(data, "#main_popupContent");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
    }

    function EditDriver(driverId) {
        $.ajax({
            data: { driverID: driverId },
            datatype: "text/plain",
            type: "GET",
            url: '/Driver/EditDriver',
            cache: false,
            success: function (data) {
                $("#main_popupContent").html(data);
                OpenMainHTMLPopup(data, "#main_popupContent");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                LogAndShowAjaxError(thrownError, xhr.status);
            }
        });
    }
    
    function SaveDriverInfo() {

        //console.log("Save clicked");
        if (ValidateUIData()) {
            var driverData = {};
            if ($("#lblDriverID")) {
                driverData.DriverID = $('#lblDriverID').text().trim()
            } else {
                driverData.DriverID = 0;
            }
            //$("#ManageDriver").submit();
            var url = "/Driver/ManageDriver"; // the script where you handle the form input.

            var StateID = $('select#ddlState option:selected').val();;
            var CityID = $('select#ddlCity option:selected').val();;

            $("#hdnStateID").val(StateID);
            $("#hdnCityID").val(CityID);

            $.ajax({
                type: "POST",
                url: url,
                data: $("#ManageDriver").serialize(), // { driverData: , stateID: StateID, cityID: CityID }, // serializes the form's elements.
                success: function (result) {                    
                    ProcessAjaxResult(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    LogAndShowAjaxError(thrownError, xhr.status);
                }
            });

            //e.preventDefault(); // avoid to execute the actual submit of the form.
        }
    }

    function ValidateUIData() {
        var validationMessages = "";
        validationMessages = CheckAndSetErrorForFields("txtFirstName", "driver firstname");
        validationMessages = validationMessages + CheckAndSetErrorForFields("txtLastName", "driver lastname");
        validationMessages = validationMessages + CheckAndSetErrorForFields("txtMobileNumber", "mobile number");
        validationMessages = validationMessages + CheckAndSetErrorForFields("txtLicenseNumber", "driver License");
        validationMessages = validationMessages + CheckAndSetErrorForFields("txtAddress1", "Address1");
        validationMessages = validationMessages + CheckAndSetErrorForFields("ddlCountry", "country");
        validationMessages = validationMessages + CheckAndSetErrorForFields("StateID", "State");
        validationMessages = validationMessages + CheckAndSetErrorForFields("CityID", "City");
        validationMessages = validationMessages + CheckAndSetErrorForFields("txtPincode", "Pincode");

        if (validationMessages.substring(0, 1) == ',') {
            validationMessages = validationMessages.substring(1);
        }

        if (validationMessages != "") {
            modalPopup.SetText('Error', '', "Please Fill " + validationMessages);
            return false;
        }
        return true;
    }

    function IsEmptyUIFields(controlName) {
        if ($("#" + controlName)) {
            if (($("#" + controlName).val() == "")) {
                return true;
            }
        }
        return false;
    }

    function CheckAndSetErrorForFields(controlName, errorMessage) {
        if (IsEmptyUIFields(controlName)) {
            return (", " + errorMessage);
            //return;
        }
        return "";
    }

</script>