
/* grid
.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 10px;
    width: 100%;
}
*/
.row {
    display: flex;
    /*flex-flow: row ;*/
    padding-left:5px;
    padding-right:5px;    
}
.rowMarked{
    -webkit-box-shadow:0px 0px 100px 9px #00ffec ;
-moz-box-shadow:0px 0px 100px 9px #00ffec ;
box-shadow:0px 0px 100px 9px #00ffec ;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding-right:5px;
    padding-top:10px;
    width: 100%;
    vertical-align: middle;
}

@media all and ( min-width: 600px ) {
    /* set col widths */

    /*.col-2-3 {
        width: 66.66%;
    }
    .col-1-2 {
        width: 50%;
    }
    .col-1-3 {
        width: 33.33%;
    }
    .col-1-4 {
        width: 25%;
    }
    .col-1-8 {
        width: 12.5%;
    }*/
    /* Original style width percentages: */
    .col-1-1{
        width:100%;
    }

    .col-1-6 {
        width: 16.66%;
    }
    .col-2-3 {
        width: 66.66%;
    }
    .col-1-2 {
        width: 50%;
    }
    .col-1-3 {
        width: 33.33%;
    }
    .col-1-4 {
        width: 25%;
    }
    .col-3-4 {
        width: 75%;
    }
      .col-5-6 {
        width: 55%;
    }
    .col-1-8 {
        width: 12.5%;
    }
    .col-button-left {
        width: 90%;
    }
    .col-button {
        width: 10%;
    }
   /* */
}




