    /* Dropdown Button */
.menuText {
    background-color: #4CAF50;
    color: white;
    padding: 6px;   /* font alignment inside the top menu box  */
    font-size: 16px;
    width: 100px;
    border: none;
    cursor: pointer;
        font-family:var(--Font-Family);
}

/* The container <div> - needed to position the menuItem content */
.menuItem {
    position: relative;
    display: inline-block;
        font-family:var(--Font-Family);
}

/* Dropdown Content (Hidden by Default) */
.menuItem-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #000000;

}

/* Links inside the menuItem */
.menuItem-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of menuItem links on hover */
.menuItem-content a:hover {background-color: #f1f1f1}

/* Show the menuItem menu on hover */
.menuItem:hover .menuItem-content {
    display: block;
}
/* Change the background color of the menuItem button when the menuItem content is shown */
.menuItem:hover .menuText {
/*    background-color: #3e8e41;*/
    background-color: var(--pageHeaderBG);
}
