:root {
    --sectionheaderBG: #5383d3;
    --pageFooterBG: #efefef;
    --buttonBG: #599bb3;
    --pageHeaderBG : #292c2f;
    --Font-Family:  arial,"HelveticaNeue",verdana,arial,sans-serif,"Times New Roman";
    --headerFontSize: 14px;
    --allFontSize: 12px;
    --sectionHeaderFontSize: 14px;
}

   .page{
            font-family: var(--Font-Family);
            font-size: var(--headerFontSize);
            color: #333333;
        }
        .pagecontent{
                     font-family: var(--Font-Family);
            font-size: var(--allFontSize);
            color: #333333;
            margin: 0 1px 0 5px;
            padding-top: 10px;
            padding-right: 1px;
            padding-bottom: 0px;
            padding-left: 10px;
        }
        .menublock{
        //background-color:#ffffff;
        }
        .EnvelopeDiv{
            position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
        }

        .Login{
            /* Login DIV box style */
            text-wrap:avoid;
  	        width: 310px;
            margin: 0 auto;
            border:1px solid red;
            font-family: var(--Font-Family);
            font-size: var(--allFontSize);
            color: #333333;
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 30px;
        }
        .LoginInput {
                width:135px;
                vertical-align:middle;
            }
        @media screen and (max-width: 770px) and (min-width: 520px) {
            .Login {
                margin: 0 0 auto 0;
                border:1px solid blue;
            }
            .TransporterList{
                width: 100px !important; 
                height:50px !important;
            }
        }
         @media screen and (max-width: 519px) and (min-width: 377px) {
            .Login {
                    margin: 0 0 auto 0;
                    border:1px solid blue;
                }
            .TransporterList{
                width: 100px !important; 
                height:50px !important;
            }
        }
        @media (max-width: 376px) and (min-width: 321px) {
            .Login {
                margin: 0 0 auto 0;
                border:1px solid red;
            }
            .LoginEntry{
            }
            .TransporterList{
                width: 100px !important; 
                height:50px !important;
            }
        }
        @media screen and (max-width: 320px){
            .TransporterList{
                width: 100px !important; 
                height:50px !important;
            }
        }
        .LoginEntry{
            font-family: var(--Font-Family);
            font-size: var(--allFontSize);
            white-space: nowrap;
            border-color:black;
            /*border-style:none;*/
            vertical-align:middle;
            display: flex;
            align-items: center;
            height:40px;
        }

        .GeneralLabel{
            width:140px;
        }
        .GeneralInput{
            align-items: center;
        }
        .SectionHeader{
            font-size: var(--sectionHeaderFontSize);
            background-color:burlywood;
            font-family:var(--Font-Family);
            text-align:center;
        }


.Transporterbutton1 {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: var(--allFontSize);
    font-family: var(--Font-Family);
    text-decoration: none;
    vertical-align: middle;
    outline:none;
    }
.Transporterbutton1:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
.Transporterbutton1:active {
    border-top-color: #467ea3;
    background: #467ea3;
    }


.Transporterbutton2 {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--buttonBG)), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, var(--buttonBG) 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, var(--buttonBG) 5%, #408c99 100%);
    background:-o-linear-gradient(top, var(--buttonBG) 5%, #408c99 100%);
    background:-ms-linear-gradient(top, var(--buttonBG) 5%, #408c99 100%);
    background:linear-gradient(to bottom, var(--buttonBG) 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--buttonBG), endColorstr='#408c99',GradientType=0);
    background-color:var(--buttonBG);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:var(--Font-Family);
    font-size:var(--allFontSize);
    font-weight:bold;
    padding:7px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    outline:none;
}
.Transporterbutton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
.Transporterbutton2:active {
    position:relative;
    top:1px;
}

.Transporterbutton3{
        background-color: #4CAF50;
    color: white;
    padding: 6px;   /* font alignment inside the top menu box  */
    font-size: var(--headerFontSize);
    border: none;
    cursor: pointer;
        font-family:var(--Font-Family);
        outline:none;
}
.Trasporterbutton3:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
.Trasporterbutton3:active {
    position:relative;
    top:1px;
}

.pageheader{
}
.pagefooter{
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    top:0.2rem;
    padding: 0.2rem;
    background-color: var(--pageFooterBG);
    text-align: center;
    font-size: var(--headerFontSize);
    font-family:var(--Font-Family);
}


 .SectionHeader1{
    font-size: var(--headerFontSize);
    background-color: #ffffff /*var(--sectionheaderBG);*/
    font-family:var(--Font-Family);
    border-radius: 10px;
    border: 1px solid var(--sectionheaderBG);
    padding: 10px;
}
.TransporterLabel{
    text-align: right;
    vertical-align: middle;
    padding-top:10px;
    font-size: var(--allFontSize);
    float:right;
}

.TransporterReadonlyValue{
    text-align: left;
    vertical-align: middle;
    font-size: var(--allFontSize);
    float:left;
}

.TransporterText {
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 29px;
    font-family:var(--Font-Family);
    font-size: var(--allFontSize);
    width:90%;
}
.TransporterTextSmall{
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 29px;
    font-family:var(--Font-Family);
    font-size: var(--allFontSize);
    width:25%;
}
.TransporterText:focus,
.TransporterText.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
[class*="col-"] .SearchPageButtons{
    float: left;
    align-content: flex-end;
    align-items: flex-end;
}
.SearchResultCheckbox{
    width: 5%;
    vertical-align: middle;
    display:none;
}

.Searchresults{
    display:none;
}
.DashboardBox{
        border: 2px solid;
    margin-left: 1px;
    border-bottom: 2px solid;
    background-color: white;
    padding-left:5px;
    font-size: 20px;

    -webkit-box-shadow: 0px 0px 15px 5px var(--sectionheaderBG);
box-shadow: 0px 0px 15px 5px var(--sectionheaderBG);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.DashboardBoxmin{
        border: 2px solid;
    margin-left: 1px;
    border-bottom: 2px solid;
    background-color: white;
    padding-left:5px;
    font-size: 10px;

    -webkit-box-shadow: 0px 0px 15px 5px var(--sectionheaderBG);
box-shadow: 0px 0px 15px 5px var(--sectionheaderBG);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.DashboardBox: hover{
    -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}
}

.DashboardBox1{
    border-color: #018F91;
    border-bottom-color: #018F91;
}
.DashboardBox2{
    border-color: #7c4199;
    border-bottom-color: #7c4199;
}
.DashboardBox3{
    border-color: orange;
    border-bottom-color: orange;
    padding-bottom:15px;
}
.DashboardBox4{
    border-color: green;
    border-bottom-color: green;
    padding-bottom:15px;
}

.DashboardBox > input {
float:right;
}

.DashboardButtons{
text-align: right;
}

/*
@media screen and (min-width: 312px) {
    .DashboardBox {
        width: 400px;
        height: 150px;
    }
}
*/

.blink_text1 {
    animation: blinker 1s linear infinite;
/*    animation: blink 1s steps(2, start) infinite;*/
}
.blink_text2 {
    animation: blinker 0.7s linear infinite;
/*    animation: blink 1s steps(2, start) infinite;*/
}

@keyframes blinker {
    50% { opacity: 0; };
    to { color: red; };
}

.ViewHistory{

}

.ViewTransactionBG1{
    border: 1px solid #018F91;
    background-color: #018F91;
    margin-left: -5px;
    color: white;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);

    -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.ViewTransactionBG1:hover {
text-shadow: 0 1px 0 #666,
0 2px 0 #555,
1px 3px 0 #444,
2px 4px 0 #333,
3px 5px 0 #222,
4px 6px 1px #111,
0 0 5px rgba(0,0,0,.6),
0 1px 3px rgba(0,0,0,.5),
1px 3px 5px rgba(0,0,0,.4),
3px 5px 10px rgba(0,0,0,.3),
5px 10px 10px rgba(0,0,0,.2),
10px 20px 20px rgba(0,0,0,.1);
}
.ViewTransactionBG1 a {
    margin-left: 5px;
    color: white;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);
    text-decoration: none;

}
.ViewTransactionBG2{
    border: 1px solid #7c4199;
    background-color: #7c4199;
    margin-left: -5px;
    color: white;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);

    -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.ViewTransactionBG2:hover {
text-shadow: 0 1px 0 #666,
0 2px 0 #555,
1px 3px 0 #444,
2px 4px 0 #333,
3px 5px 0 #222,
4px 6px 1px #111,
0 0 5px rgba(0,0,0,.6),
0 1px 3px rgba(0,0,0,.5),
1px 3px 5px rgba(0,0,0,.4),
3px 5px 10px rgba(0,0,0,.3),
5px 10px 10px rgba(0,0,0,.2),
10px 20px 20px rgba(0,0,0,.1);
}
.ViewTransactionBG2 a {
    margin-left: 5px;
    color: white;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);
    text-decoration: none;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
padding:2px; 
width:100%;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    vertical-align:middle;
}

.PageLabel{
    
}

/* DEMO 1 */

.wrapper-dropdown-1:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1:focus:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

/* DEMO 2 */

.wrapper-dropdown-2:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-2:focus:after {
    border-width: 0 6px 6px 6px;
}


/* DEMO 3 */

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


/* DEMO 4 */

.wrapper-dropdown-4:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown-4:focus:after {
    border-width: 0 6px 6px 6px;
}

/* DEMO 5 */

.wrapper-dropdown-5:focus {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5:focus:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.masterLeftContent {
 text-align: left;
 /*color: White;
 font-size: x-large;
 text-decoration: none;*/
 font-weight: bold;
 height: 100%;
 width:20%;
}

.Test {
  margin-top:20px; 
  padding-left:10px; 
 
}

@media only screen and (max-device-width: 480px) {
select {
    background: -webkit-linear-gradient(white, #666);
    border: 1px solid #ccc;
    border-radius: 2px;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    -webkit-appearance: none;
    color:darkblue;
    width: 100%;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);
}
}

.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px dashed #454545;
    color: black;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);
}

.customLink{
    color:darkblue;
    width: 100%;
    font-family: var(--Font-Family);
    font-size: var(--allFontSize);
    text-decoration: underline;
    cursor: pointer;
}

.popupBG{
    background-color: whitesmoke;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
}
.white_content {
  display: none;
  position: absolute;
  top: 20%;
  left: 12%;
  width: 75%;
  height: 60%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
.TransporterList{
    width: 90%;
}