﻿@model TransporterModel.InputField
@if (Model.ValueType.ToUpper() == TransporterModel.FieldType.String.ToString().ToUpper())
{
    <div class="col-md-4 col-sm-12">
        <div class="form-group row">
            <label for="example-text-input" class="col-md-4 col-form-label text-right">@Model.LabelText</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                @Html.TextBox(Model.ValueID, null, new { @class = "form-control", @placeholder = Model.ValueFieldPlaceholder })
                @if (Model.HiddenID != "")
                {
                    @Html.HiddenFor(m => m.HiddenID, new { @id = Model.HiddenID })
                }
            </div>
        </div>
    </div>
}
@if (Model.ValueType.ToUpper() == TransporterModel.FieldType.DateTime.ToString().ToUpper())
{
    <div class="col-md-4 col-sm-12">
        <div class="form-group row">
            <label for="example-text-input" class="col-md-4 col-form-label text-right">@Model.LabelText</label>
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="@Model.ValueID" name="@Model.ValueID">
            </div>
        </div>
    </div>
}
@if (Model.ValueType.ToUpper() == TransporterModel.FieldType.DropDown.ToString().ToUpper())
{
    <div class="col-md-4 col-sm-12">
        <div class="form-group row">
            <label for="example-text-input" class="col-md-4 col-form-label text-right">@Model.LabelText</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                @Html.Partial("_MastersDropdown")
            </div>
        </div>
    </div>
}
