﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@model TransporterModel.ReportSchema

@using (Html.BeginForm("GetReportData", "AdminReports", FormMethod.Post, new { name = "GetReport", id = "GetReport" }))
{
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper search-wrapper">  <span class="registration-ui"> <i class="fa fa-ban leftsrew"></i><label id="lblReportName">@Model.Name</label><i class="fa fa-ban rightsrew"></i></span>  </div>
                            <hr>
                            <div class="card searchCard">
                                    <div class="col-md-12">
                                    @for (int i = 0; i < Model.InFields.Count; i++)
                                    {
                                        if (i <= 2) // First 3 fields in first row
                                        {
                                            {Html.RenderPartial("_ReportControl", Model.InFields[i]);}
                                        }
                                    }
                                    </div>
                                <div class="col-md-12">
                                    @for (int i = 3; i < Model.InFields.Count; i++)
                                    {
                                        if (i <= 5) // Second 3 fields in first row
                                        {
                                            { Html.RenderPartial("_ReportControl", Model.InFields[i]); }
                                        }
                                    }
                                </div>

                                <div class="col-md-12">
                                    @for (int i = 6; i < Model.InFields.Count; i++)
                                    {
                                        if (i <= 8) // Third 3 fields in first row
                                        {
                                            { Html.RenderPartial("_ReportControl", Model.InFields[i]); }
                                        }
                                    }
                                </div>
                                
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" onclick="SearchPost();">Search</button>
                                            <button type="button" class="btn btn-default" onclick="ClearSearch();">Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section fp-section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card margin-top-5">
                                <h5>Search result : </h5>
                                <div class="card-block table-border-style">
                                    <div id="responsive-tbl">
                                        <table id="MyTable">
                                            <thead>
                                                <tr>
                                                    @for (int j = 0; j < Model.OutFields.OutFieldName.Count; j++)
                                                    {
                                                        <th data-label="@Model.OutFields.OutFieldName[j].ToString()">@Model.OutFields.OutFieldName[j].ToString()</th>
                                                    }                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

            var demo1 = SetAutoComplete("#txtSourceCity", "#hdnSourceCity");

            var demo2 = SetAutoComplete("#txtDestinationCity", "#hdnDestinationCity");

            function ClearSearch() {
                ClearAllFormInputFields();
            }

            function getFormData($form) {
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }

            function SearchPost() {
                var formObj = getFormData($("#GetReport")); // Send formID as parameter
                //var data2Send = {};
                //var index = 0;
                //var unindexed_array = $("#GetReport").serializeArray();
                //$.map(unindexed_array, function (n, i) {
                //    //indexed_array[n['name']] = n['value'];
                //    data2Send["stepsDictionary[" + index + "].Key"] = n['name'];
                //    data2Send["stepsDictionary[" + index + "].Value"] = n['value'];
                //    index++;
                //});
                var theObject = {};
                theObject.dict = formObj;
                ReportName = $('#lblReportName').text();
                var data2send = { inputFields: theObject, reportName: ReportName }

                $.ajax({
                    type: "POST",
                    url: "/AdminReports/GetReportData",
                    data: JSON.stringify(data2send),
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        
                        var IsSuccess = result.IsSuccess;
                        var msg = result.Message;
                        var url = result.RedirectURL;
                        
                        if (result.IsSucces === 'Failure') {
                            console.log('error', result);
                            modalPopup.SetText('Failure', '', result);
                        }
                        $("#MyTable tr:gt(0)").remove();
                        $('#MyTable').append(result.Message);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        LogAndShowAjaxError(thrownError, xhr.status);
                    }
                });
            }
    </script>
}