﻿
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.DashBoardPage
<script>
    function SearchPendingReqmt() {

        $.ajax({
            type: "POST",
            url: '/Home/AgentSearch/',
            data: JSON.stringify(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc
            //,error: errorFunc
        });
        function successFunc(data, status) {
            if (data.isRedirect) {
                isLoggedInUser = true;
                window.location.href = data.redirectUrl;
            } else {
                modalPopup.SetText('Login Error', '', data);
            }
        }

        function errorFunc(result) {
           LogAjaxError(result, true);
        }
    }

    function AgentLoadAvailabilityReqmt() {

        $.ajax({
            type: "POST",
            url: '/Home/AgentLoadAvailability/',
            data: JSON.stringify(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc
            //,error: errorFunc
        })
        function successFunc(data, status) {
            if (data.isRedirect) {
                isLoggedInUser = true;
                window.location.href = data.redirectUrl;
            } else {
                modalPopup.SetText('Login Error', '', data);
            }
        }

        function errorFunc(result) {
            LogAjaxError(result, true);
        }
    }


    function TransPendingReqmt() {

        $.ajax({
            type: "POST",
            url: '/Home/TransportSearch/',
            data: JSON.stringify(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc
            //,error: errorFunc
        });
        function successFunc(data, status) {
            if (data.isRedirect) {
                isLoggedInUser = true;
                window.location.href = data.redirectUrl;
            } else {
                modalPopup.SetText('Login Error', '', data);
            }
        }

        function errorFunc(result) {
            LogAjaxError(result, true);
        }
    }

    $(function () {
        var UserID = $("#hdnUserID").val();
        $.ajax({
            type: "POST",
            url: "/Home/AcceptedTransUsers",
            data: JSON.stringify({ UserID: UserID }),
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result === 'Failure') {
                    console.log('error', result);
                }
                $("#MyTable tr:gt(0)").remove();

                for (var i = 0; i < result.length; i++) {
                    var TransporterName = result[i].TransporterName;
                    var BookingID = result[i].BookingID;
                    var PostingID = result[i].PostingID;
                    var SourceCity = result[i].SourceCity;

                    var DestinationCity = result[i].DestinationCity;
                    var DeliveryDate = result[i].DeliveryDate;
                    var LinkURL = result[i].LinkURL;
                    $('#MyTable').append('<tr><td data-label="Agent Name">' + TransporterName + '</td><td data-label="BookingID">' + BookingID + '</td><td data-label="Source City">' + SourceCity + '</td><td data-label="Destination City">' + DestinationCity + '</td><td data-label="Delivery Date">' + DeliveryDate + '</td><td data-label="My PostingID">' + LinkURL + '</td>');
                }

            }
            //,error: function (xhr, ajaxOptions, thrownError) {
            //    LogAndShowAjaxError(thrownError, xhr.status);
            //}
        });

    });

    $(function () {
        var UserID = $("#hdnUserID").val();
        $.ajax({
            type: "POST",
            url: "/Home/AcceptedAgentUsers",
            data: JSON.stringify({ UserID: UserID }),
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result === 'Failure') {
                    console.log('error', result);
                }
                $("#MyTable1 tr:gt(0)").remove();

                for (var i = 0; i < result.length; i++) {
                    var AgentName = result[i].AgentName;
                    var PostingID = result[i].PostingID;
                    var SourceCity = result[i].SourceCity;
                    var DestinationCity = result[i].DestinationCity;
                    var DeliveryDate = result[i].DeliveryDate;
                    var PostingID = result[i].PostingID;
                    var LinkURL = result[i].LinkURL; //"<a href='" + result[i].BookingID + "'>" + result[i].BookingID + "</a>";
                    $('#MyTable1').append('<tr><td data-label="Transporter Name">' + AgentName + '</td><td data-label="PostingID">' + PostingID + '</td><td data-label="Source City">' + SourceCity + '</td><td data-label="Destination City">' + DestinationCity + '</td><td data-label="Delivery Date">' + DeliveryDate + '</td><td data-label="My BookingID">' + LinkURL + '</td>');
                }

            }
            //,error: function (xhr, ajaxOptions, thrownError) {
            //    LogAndShowAjaxError(thrownError, xhr.status);
            //}
        });

    });

</script>
@using (Html.BeginForm("DashBoard", "Home", FormMethod.Post))
{
@Html.HiddenFor(m => m.DashBoardDetails.AgentUserID, new { @id = "hdnUserID" })

    <div id="wrapper" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px);">
        
        <section class="section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="container">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-12 innerHeader">
                                <!--<h4>Dashboard</h4>-->
                                <div class="codepen-wrapper">
                                    <span class="registration-ui">
                                        <i class="fa fa-ban leftsrew"></i>
                                        Dashboard
                                        <i class="fa fa-ban rightsrew"></i>
                                    </span>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <a href="/Booking/Search">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="bg-c-blue card1-icon"><img src="../images/info-box-icon-1.png"></i> <span class="text-c-blue f-w-600"> Search Loads Availability </span>
                                            <h4><a href="/Booking/SearchAllBooking" title="If you have a empty truck, search for Bookings from other agents which you can pickup with your truck availability/posting">+@ViewBag.LoadAvailabilityOtherAgentsA</a></h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <a href="/Posting/Search">
                                    <div class="card widget-card-1">
                                        <div class="card-block-small">
                                            <i class="bg-c-pink card1-icon"><img src="../images/info-box-icon-2.png"></i> <span class="text-c-pink f-w-600">Search Trucks Availability</span>
                                            <h4><a href="/Posting/SearchAllPosting" title="If you have a load for moving, search all the truck availability and its routes">+@ViewBag.TruckAvailabilityOtherAgentsB</a></h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-xl-3">                                
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="bg-c-green card1-icon"><img src="../images/info-box-icon-3.png"></i> 
                                            <a href="@Html.Action("CheckBookingUserType")"><span class="text-c-green f-w-600">Post your Load Availability</span></a>
                                        <a href="/Booking/SearchBookingByUserID" title="Find the load availability bookings you made"><h4>+@ViewBag.LoadAvailabilityLogedInAgentsD</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="bg-c-yellow card1-icon"><img src="../images/info-box-icon-4.png"></i> 
                                        <a href="@Html.Action("CheckPostingUserType")"><span class="text-c-yellow f-w-600">Post your Truck Availability</span></a>
                                            <a href="/Posting/SearchPostingByUserID" title="Find the truck availability postings you made"><h4>+@ViewBag.TruckAvailabilityLogedInAgentsC</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section fp-section fp-table animateOut animateIn">
            <div class="fp-tableCell">
                <div class="wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card margin-top-5">
                                    <h5>Agents who responded on my Truck Availability : </h5>
                                    <div class="card-block table-border-style">
                                        <div id="responsive-tbl">
                                            <table id="MyTable">
                                                <div class="truck-watermark"></div>
                                                <thead>
                                                    <tr>
                                                        <th data-label="Agent Name">Agent Name</th>
                                                        <th data-label="BookingID">Booking ID</th>
                                                        <th data-label="Source City">Source City</th>
                                                        <th data-label="Destination City">Destination City</th>
                                                        <th data-label="Delivery Date">Delivery Date</th>
                                                        <th data-label="My PostingID">My PostingID</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card margin-top-5">
                                    <h5> Transporter who responded on my Load Availability : </h5>
                                    <div class="card-block table-border-style">
                                        <div id="responsive-tbl">
                                            <table id="MyTable1">
                                                <div class="load-box-watermark"></div>
                                                <thead>
                                                    <tr>
                                                        <th data-label="Transporter Name">Transporter Name</th>
                                                        <th data-label="PostingID">Posting ID</th>
                                                        <th data-label="Source City">Source City</th>
                                                        <th data-label="Destination City">Destination City</th>
                                                        <th data-label="Delivery Date">Delivery Date</th>
                                                        <th data-label="My BookingID">My BookingID</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

}

