﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
        function DoLogin() {
            var username = $('#data-username').val();
            var password = $('#data-userpassword').val();
            $.ajax({
                type: "POST",
                url: '/Home/ValidateLogin/',
                data: JSON.stringify({ UserName: username, Password: password }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                    window.location.href = data.redirectUrl;
                } else {
                    modalPopup.SetText('Login Error', '', data);
                }
            }

            function errorFunc(result) {
                LogAjaxError(result, true);
            }
        }

        function RegisterMe() {

            $.ajax({
                type: "POST",
                url: '/Home/Register/',
                data: JSON.stringify(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                if (data.isRedirect) {
                    isLoggedInUser = true;
                    window.location.href = data.redirectUrl;
                } else {
                    //alert(data);
                    //$('#LoginErrorMessage').text(data);
                    //$('#LoginErrorMessage').addClass('isa_error');
                    modalPopup.SetText('Login Error', '', data);
                }
            }

            function errorFunc(result) {
                LogAjaxError(result, true);
            }
        }
    function supportsImports() {
    return 'import' in document.createElement('link');
}

    function handleLoad(e) {
        console.log('Loaded import: ' + e.target.href);
    }
    function handleError(e) {
        console.log('Error loading import: ' + e.target.href);
    }

    </script>
<div class="EnvelopeDiv">
    <div class="Login">
        <div class="SectionHeader">Enter Login Details</div>
        <div class="LoginEntry">
            <div class="LoginEntry GeneralLabel">Username:</div>
            <div class="LoginEntry GeneralInput"><input type="text" id="data-username" class="LoginInput" /></div>
        </div>
        <div class="LoginEntry">
            <div class="LoginEntry GeneralLabel">Password:</div>
            <div class="LoginEntry GeneralInput"><input type="password" id="data-userpassword"  class="LoginInput" /></div>
        </div>
        <div>
            <span class="display:none;" id="LoginErrorMessage"></span>
        </div>
        <div class="LoginSubmit">
            <input type="button" class="Transporterbutton2" onclick="DoLogin();" value="Login" />            
            <input type="button" class="Transporterbutton2" onclick="RegisterMe();" value="Register" /> 
        </div>
    </div>
</div>