﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@model TransporterModel.TripSheet

@using (Html.BeginForm("Index", "Tracking", FormMethod.Post))
{
    <script>
        function SearchTripData(){
            var bookingID = $("#txtBookingID").val();
            var postingID = $("#txtPostingID").val();

            if(bookingID){
                if(postingID){
                    if(bookingID > 0 && postingID > 0){
                        modalPopup.SetText("Alert","", "Please enter only one of the two options to search");
                        return;
                    }
                }
            }

            if(!bookingID && !postingID){
                modalPopup.SetText("Alert","", "Please enter any one of the two options to search");
            }

            if(bookingID){
                window.location.href="/Tracking/Index?bookingID=" + bookingID;
            }
            if(postingID){
                window.location.href="/Tracking/Index?postingID=" + postingID;
            }
        }
    </script>
    <section class="section fp-table animateOut animateIn">
        <div class="fp-tableCell">
            <div class="container">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 innerHeader">
                            <!--<h4>Dashboard</h4>-->
                            <div class="codepen-wrapper cpd-wrapper">
                                <span class="create-post-details">
                                    <i class="fa fa-ban leftsrew"></i>View Booking/Posting tracking
                                    <i class="fa fa-ban rightsrew"></i>
                                </span>
                            </div>
                            <hr>
                            <div class="card searchCard">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Posting ID:</label>                                            
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-rou"></i><i class="fa fa-sticky-note"></i></span>
                                                <input type="number" id="txtPostingID" class="form-control" value="@Request.QueryString["PostingID"]"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Booking ID:</label>                                            
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="input-group-addon"><i class="fa fa-rou"></i><i class="fa fa-sticky-note"></i></span>
                                                <input type="number" id="txtBookingID" class="form-control" value="@Request.QueryString["BookingID"]" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">Trip Status:</label>                                            
                                            <div class="input-group col-md-8 cpd-group">
                                                <span class="PageLabel" id="lblBookingStatus">
                                                    &nbsp;
                                                    @if (Model != null)
                                                    {
                                                        if (Model.PostingStatus > 0)
                                                        {
                                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">@Model.PostingStatusName.ToString()</label>
                                                        }
                                                        else
                                                        {
                                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">No data found</label>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <label for="example-text-input" class="col-md-4 col-form-label pull-left">No data found</label>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-4 col-form-label pull-left">&nbsp;</label>
                                            <div class="input-group col-md-8 cpd-group">
                                                <button type="button" class="btn btn-success pull-right" onclick="SearchTripData();"><i class="fa fa-plus"></i> Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    if (Model != null && Model.TripBookingData != null)
    {
        @Html.Partial("~/Views/Posting/_TripData.cshtml", Model);
        <script>
            var postingIDVal = @Model.PostingID;
            $("#txtPostingID").val(postingIDVal);

            
        </script>
    }

}